workflows/5bzKGQrxKUKitQX8ioxur.json
[
  {
    "active": false,
    "activeVersionId": null,
    "connections": {
      "Check if Exists": {
        "main": [
          [
            {
              "index": 0,
              "node": "Check if iTop Exists",
              "type": "main"
            }
          ]
        ]
      },
      "Check if iTop Exists": {
        "main": [
          [
            {
              "index": 0,
              "node": "No Operation, do nothing (2)",
              "type": "main"
            }
          ],
          [
            {
              "index": 1,
              "node": "Merge Data",
              "type": "main"
            }
          ]
        ]
      },
      "Create Ticket iTop": {
        "main": [
          [
            {
              "index": 0,
              "node": "Normalize Structure for Hash",
              "type": "main"
            }
          ]
        ]
      },
      "CrowdStrike Template": {
        "main": [
          [
            {
              "index": 0,
              "node": "Hash Data",
              "type": "main"
            }
          ]
        ]
      },
      "DLP Template": {
        "main": [
          [
            {
              "index": 0,
              "node": "Hash Data",
              "type": "main"
            }
          ]
        ]
      },
      "Decide Path": {
        "main": [
          [
            {
              "index": 0,
              "node": "Merge",
              "type": "main"
            }
          ]
        ]
      },
      "Delete Ticket iTop": {
        "main": [
          [
            {
              "index": 0,
              "node": "Delete Checkpoint",
              "type": "main"
            }
          ]
        ]
      },
      "Extract Login": {
        "main": [
          [
            {
              "index": 0,
              "node": "List Users in Org",
              "type": "main"
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "index": 0,
              "node": "More Filter",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "No Operation, do nothing (3)",
              "type": "main"
            }
          ]
        ]
      },
      "Hash Data": {
        "main": [
          [
            {
              "index": 0,
              "node": "Check if Exists",
              "type": "main"
            },
            {
              "index": 0,
              "node": "Merge Data",
              "type": "main"
            }
          ]
        ]
      },
      "Hash ITop Ticket": {
        "main": [
          [
            {
              "index": 0,
              "node": "New Checkpoint",
              "type": "main"
            }
          ]
        ]
      },
      "Hash Updated ITop Ticket": {
        "main": [
          [
            {
              "index": 0,
              "node": "Checkpoint",
              "type": "main"
            }
          ]
        ]
      },
      "Jump Server Template": {
        "main": [
          [
            {
              "index": 0,
              "node": "Hash Data",
              "type": "main"
            }
          ]
        ]
      },
      "List Users in Org": {
        "main": [
          [
            {
              "index": 0,
              "node": "friendlyName",
              "type": "main"
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "index": 0,
              "node": "Switch",
              "type": "main"
            }
          ]
        ]
      },
      "Merge Data": {
        "main": [
          [
            {
              "index": 1,
              "node": "Merge",
              "type": "main"
            },
            {
              "index": 0,
              "node": "Decide Path",
              "type": "main"
            }
          ]
        ]
      },
      "Merge TheHive Data": {
        "main": [
          [
            {
              "index": 0,
              "node": "Filter",
              "type": "main"
            }
          ]
        ]
      },
      "More Filter": {
        "main": [
          [
            {
              "index": 0,
              "node": "Normalize Output",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "No Operation, do nothing (3)",
              "type": "main"
            }
          ]
        ]
      },
      "Normalize Output": {
        "main": [
          [
            {
              "index": 0,
              "node": "Template Switch",
              "type": "main"
            }
          ]
        ]
      },
      "Normalize Structure for Hash": {
        "main": [
          [
            {
              "index": 0,
              "node": "Hash ITop Ticket",
              "type": "main"
            }
          ]
        ]
      },
      "Normalize Structure for Updated Hash": {
        "main": [
          [
            {
              "index": 0,
              "node": "Hash Updated ITop Ticket",
              "type": "main"
            }
          ]
        ]
      },
      "Sentinel One Template": {
        "main": [
          [
            {
              "index": 0,
              "node": "Hash Data",
              "type": "main"
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "index": 0,
              "node": "Create Ticket iTop",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "Update Ticket iTop",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "Delete Ticket iTop",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "No Operation, do nothing",
              "type": "main"
            }
          ]
        ]
      },
      "Template Switch": {
        "main": [
          [
            {
              "index": 0,
              "node": "Wazuh Template",
              "type": "main"
            },
            {
              "index": 0,
              "node": "Search observables",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "Sentinel One Template",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "DLP Template",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "Jump Server Template",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "CrowdStrike Template",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "Hash Data",
              "type": "main"
            }
          ]
        ]
      },
      "TheHive Trigger1": {
        "main": [
          [
            {
              "index": 1,
              "node": "Merge TheHive Data",
              "type": "main"
            },
            {
              "index": 0,
              "node": "Extract Login",
              "type": "main"
            }
          ]
        ]
      },
      "Update Ticket iTop": {
        "main": [
          [
            {
              "index": 0,
              "node": "Normalize Structure for Updated Hash",
              "type": "main"
            }
          ]
        ]
      },
      "Wazuh Template": {
        "main": [
          [
            {
              "index": 0,
              "node": "Hash Data",
              "type": "main"
            }
          ]
        ]
      },
      "friendlyName": {
        "main": [
          [
            {
              "index": 0,
              "node": "Merge TheHive Data",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2026-02-25T01:21:41.101Z",
    "description": null,
    "id": "5bzKGQrxKUKitQX8ioxur",
    "isArchived": false,
    "meta": null,
    "name": "Charlie",
    "nodes": [
      {
        "id": "88303375-64ca-4b37-84ae-f5ce236628a2",
        "name": "Normalize Output",
        "parameters": {
          "jsCode": "// n8n Code node (JavaScript)\n// Input: items seperti contoh payload TheHive trigger\n// Output: 1 item per event dengan struktur ter-normalisasi\n\nfunction toIso(v) {\n  if (v == null) return null;\n  if (typeof v === 'number') {\n    const ms = v > 1e12 ? v : v * 1000; // dukung detik/milidetik\n    const d = new Date(ms);\n    return isNaN(d.getTime()) ? null : d.toISOString();\n  }\n  if (typeof v === 'string') {\n    const d = new Date(v);\n    return isNaN(d.getTime()) ? null : d.toISOString();\n  }\n  return null;\n}\n\nconst sevLabelMap = { 1: 'LOW', 2: 'MEDIUM', 3: 'HIGH', 4: 'CRITICAL', 0: 'UNKNOWN' };\nconst tlpLabelMap = { 0: 'CLEAR', 1: 'GREEN', 2: 'AMBER', 3: 'RED' };\n\nfunction computeSeverityLabel(num, lbl) {\n  if (lbl && String(lbl).trim()) return String(lbl).toUpperCase();\n  if (typeof num === 'number') return sevLabelMap[num] || 'UNKNOWN';\n  return 'UNKNOWN';\n}\n\n// Heuristik \"verified\": sesuaikan jika kamu punya field khusus (mis. customFieldValues.verified)\nfunction computeVerified(o = {}) {\n  const tags = (o.tags || []).map(t => String(t).toLowerCase());\n  const stage = String(o.stage || o.status || '').toLowerCase();\n  const res = String(o.resolutionStatus || '').toLowerCase();\n  const cfv = o.customFieldValues || {};\n  const cfKeys = Object.keys(cfv).map(k => k.toLowerCase());\n\n  if (['truepositive','confirmed','verified','resolved','closed']\n      .some(k => stage.includes(k) || res.includes(k))) return true;\n\n  if (tags.some(t => ['verified','truepositive','confirmed'].includes(t))) return true;\n\n  // jika ada custom field yang mengindikasikan verified = true\n  if (cfKeys.some(k => k.includes('verified'))) {\n    try {\n      const anyTrue = Object.values(cfv).some(v =>\n        (typeof v === 'boolean' && v) ||\n        (typeof v === 'string' && v.toLowerCase() === 'true')\n      );\n      if (anyTrue) return true;\n    } catch (_) {}\n  }\n  return false;\n}\n\n// Ambil nilai dari tag dengan format \"key=value\"\nfunction extractTagValue(tags = [], key) {\n  const pref = `${key}=`;\n  const hit = tags.find(t => String(t).startsWith(pref));\n  return hit ? String(hit).slice(pref.length) : null;\n}\n\n// Ambil nilai dari customFieldValues (case-insensitive key match)\nfunction getFromCFV(cfv = {}, key) {\n  if (cfv == null) return null;\n  if (Object.prototype.hasOwnProperty.call(cfv, key)) return cfv[key];\n  const found = Object.keys(cfv).find(k => String(k).toLowerCase() === String(key).toLowerCase());\n  return found ? cfv[found] : null;\n}\n\nreturn items.map(item => {\n  const root = item.json || {};\n  const event = root.event || root.body?.event || 'unknown';\n\n  const body = root.body || root;                 // kompatibel kalau payload langsung di root\n  const obj  = body.object || body.context || {}; // ambil Case object\n  const org  = body.organisation || {};\n\n  // Ambil severity (prioritaskan object.severity; fallback ke details.severity)\n  const sevNum = (typeof obj.severity === 'number')\n    ? obj.severity\n    : (typeof body.details?.severity === 'number' ? body.details.severity : null);\n\n  // --- EKSTRA: ambil agent_ip dari tags ---\n  const tags = Array.isArray(obj.tags) ? obj.tags : [];\n  const desc  = obj.customFieldValues.description || body.customFieldValues.description || {};\n\n  const agentIp = extractTagValue(tags, 'agent_ip');\n\n  // Agent sekarang ambil dari assignee (biarkan dalam bentuk email)\n  const agentVal = obj.assignee || null;\n\n  // Caller sekarang ambil dari friendlyName (top-level)\n  const callerVal = root.friendlyName.toLowerCase()|| null;\n  // ------------------------------------------------------------------------------\n\n  const normalized = {\n    source: 'thehive5',\n    event,\n    desc,\n    organisation: {\n      id: org.organisationId || null,\n      name: org.organisation || null,\n    },\n    dedupKey: obj._id || body.objectId || body.rootId || null, // pakai di iTop & DB checkpoint\n    case: {\n      id: obj._id || null,\n      number: obj.number ?? null,\n      title: obj.title ?? null,\n      description: obj.description ?? null, // markdown asli biar bisa dilog/attach\n      status: obj.status ?? null,\n      stage: obj.stage ?? null,\n      assignee: obj.assignee ?? null,\n      severity: sevNum,\n      severityLabel: computeSeverityLabel(sevNum, obj.severityLabel),\n      tlp: obj.tlp ?? null,\n      tlpLabel: obj.tlpLabel || (obj.tlp != null ? tlpLabelMap[obj.tlp] : null),\n      pap: obj.pap ?? null,\n      tags,\n      createdAt: toIso(obj._createdAt),\n      updatedAt: toIso(obj._updatedAt),\n      startDate: toIso(obj.startDate),\n      alertDate: toIso(obj.alertDate),\n      isVerified: computeVerified(obj),\n\n      agent_ip: agentIp ?? null,\n      agent: agentVal ?? null,   // dari assignee (email utuh)\n      caller: callerVal ?? null, // dari friendlyName\n    },\n    change: body.details || {}, // apa yang berubah pada event update\n    actor: body._createdBy || obj._updatedBy || null,\n    timestamps: {\n      eventCreatedAt: toIso(body._createdAt),\n    },\n    raw: {\n      objectType: body.objectType || 'Case',\n      objectId: body.objectId || null,\n      requestId: body.requestId || null,\n    },\n  };\n\n  return { json: normalized };\n});\n"
        },
        "position": [
          -128,
          368
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "alwaysOutputData": false,
        "executeOnce": false,
        "id": "6854156a-66f5-46f4-929b-8e8cb83efe1e",
        "name": "Check if Exists",
        "parameters": {
          "operation": "executeQuery",
          "options": {
            "queryReplacement": "={{ $json[\"case.id\"] || $json.raw.objectId }}"
          },
          "query": "-- PostgreSQL\nSELECT v.thehive_id,\n       t.itop_ref,\n       t.thehive_hash,\n       (t.thehive_id IS NOT NULL) AS already_sent\nFROM (VALUES ($1::text)) AS v(thehive_id)\nLEFT JOIN thehive_itop_sync t USING (thehive_id);\n"
        },
        "position": [
          768,
          352
        ],
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6
      },
      {
        "id": "7309c736-6e36-4a3e-a119-cf8e46c45915",
        "name": "Hash Data",
        "parameters": {
          "dataPropertyName": "case_hash",
          "value": "={{ $json[\"case.id\"] + \", \" + $json[\"case.stage\"] + \", \" + $json[\"case.status\"] + \", \" + $json.agent }}"
        },
        "position": [
          560,
          352
        ],
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 1
      },
      {
        "id": "5388d245-42ca-4afb-9b70-9fd77ee0b024",
        "name": "Merge Data",
        "parameters": {
          "combineBy": "combineByPosition",
          "mode": "combine",
          "options": {}
        },
        "position": [
          1200,
          352
        ],
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2
      },
      {
        "id": "9edf3175-02fe-45c2-abe7-1d589e6ce1fe",
        "name": "Merge",
        "parameters": {
          "combineBy": "combineByPosition",
          "mode": "combine",
          "options": {}
        },
        "position": [
          1648,
          352
        ],
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2
      },
      {
        "id": "bcb70464-e63e-45aa-9ac7-6a1824d2cc8f",
        "name": "Template Switch",
        "parameters": {
          "options": {},
          "rules": {
            "values": [
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "b65e8f26-3e7e-4f69-b33f-4044a02ca42d",
                      "leftValue": "={{ $json.case.tags }}",
                      "operator": {
                        "operation": "contains",
                        "rightType": "any",
                        "type": "array"
                      },
                      "rightValue": "wazuh"
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  }
                },
                "outputKey": "Wazuh",
                "renameOutput": true
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "fe8ae894-e71f-4189-b3c1-2f86a2a61335",
                      "leftValue": "={{ $json.case.tags }}",
                      "operator": {
                        "operation": "contains",
                        "rightType": "any",
                        "type": "array"
                      },
                      "rightValue": "sentinelone"
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  }
                },
                "outputKey": "Sentinel One",
                "renameOutput": true
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "e3e8f689-c405-4656-8884-31d8408dcdfb",
                      "leftValue": "={{ $json.case.tags }}",
                      "operator": {
                        "operation": "contains",
                        "rightType": "any",
                        "type": "array"
                      },
                      "rightValue": "dlp"
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  }
                },
                "outputKey": "DLP",
                "renameOutput": true
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "d5cf970e-b92e-41b9-9fdb-248614e508f8",
                      "leftValue": "={{ $json.case.tags }}",
                      "operator": {
                        "operation": "contains",
                        "rightType": "any",
                        "type": "array"
                      },
                      "rightValue": "jumpserver"
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  }
                },
                "outputKey": "Jump Server",
                "renameOutput": true
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "f4430816-a6e9-4bca-b635-005aaf78fb1f",
                      "leftValue": "={{ $json.case.tags }}",
                      "operator": {
                        "operation": "contains",
                        "rightType": "any",
                        "type": "array"
                      },
                      "rightValue": "CrowdStrike"
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  }
                },
                "outputKey": "CrowdStrike",
                "renameOutput": true
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "89271ab5-6fee-4385-aa30-ef364e53a3a3",
                      "leftValue": "={{ $json.event }}",
                      "operator": {
                        "name": "filter.operator.equals",
                        "operation": "equals",
                        "type": "string"
                      },
                      "rightValue": "={{ $json.event }}"
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  }
                },
                "outputKey": "Case Delete",
                "renameOutput": true
              }
            ]
          }
        },
        "position": [
          96,
          304
        ],
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2
      },
      {
        "id": "c4a48ae5-a096-494d-9372-160ea5d38c15",
        "name": "Decide Path",
        "parameters": {
          "jsCode": "// Decide Path (pakai enriched JSON dari item saat ini)\n\nfunction normBool(v) {\n  return v === true || v === 'true' || v === 't' || v === 1 || v === '1';\n}\n\nfunction normHash(v) {\n  if (v == null) return null;\n  if (typeof v !== 'string') v = String(v);\n  return v.trim().toLowerCase(); // handle trailing spaces & case\n}\n\nreturn items.map(item => {\n  const j = item.json || {};\n\n  const thehiveId = j.thehive_id || j.dedupKey || (j.case && j.case.id) || j['case.id'] || null;\n  const oldHash   = normHash(j.thehive_hash || j.case_hash_old);\n  const newHash   = normHash(j.case_hash || j.thehive_new_hash);\n\n  // Ambil event dari beberapa kemungkinan field\n  const ev = String(\n    j.event ??\n    j['case.event'] ??\n    (j.case && j.case.event) ??\n    ''\n  ).toLowerCase();\n\n  // already_sent bisa true, atau kita anggap sudah pernah terkirim kalau ada itop_ref\n  const alreadySent = normBool(j.already_sent) || !!j.itop_ref;\n\n  // PRIORITAS: jika event adalah case_delete, langsung ke mode 'delete'\n  if (ev === 'case_delete') {\n    return {\n      json: {\n        mode: 'delete',\n        reason: 'case-deleted',\n        thehive_id: thehiveId,\n        case_hash: newHash,\n        prev_hash: oldHash,\n        itop_ref: j.itop_ref || null,\n\n        // teruskan field lain (opsional)\n        source: j.source,\n        event: j.event || j['case.event'] || 'case_delete',\n        organisation: j.organisation,\n        change: j.change,\n        actor: j.actor,\n        timestamps: j.timestamps,\n        raw: j.raw\n      }\n    };\n  }\n\n  // Default behavior: create / update / noop by hash\n  let mode = 'create';\n  let reason = 'not-in-db';\n\n  if (alreadySent) {\n    if (oldHash && newHash) {\n      if (oldHash === newHash) {\n        mode = 'noop';\n        reason = 'same-hash';\n      } else {\n        mode = 'update';\n        reason = 'hash-changed';\n      }\n    } else {\n      mode = 'update';\n      reason = 'already-sent-no-old-hash';\n    }\n  }\n\n  return {\n    json: {\n      mode,\n      reason,\n      thehive_id: thehiveId,\n      case_hash: newHash,\n      prev_hash: oldHash,\n      itop_ref: j.itop_ref || null,\n\n      // (opsional) teruskan field penting lain ke downstream\n      source: j.source,\n      event: j.event || j['case.event'] || '',\n      organisation: j.organisation,\n      change: j.change,\n      actor: j.actor,\n      timestamps: j.timestamps,\n      raw: j.raw\n    }\n  };\n});\n"
        },
        "position": [
          1424,
          352
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "0fead5f6-d377-4a40-95e3-b0efc8cdc2f7",
        "name": "Wazuh Template",
        "parameters": {
          "jsCode": "// n8n Code node (JavaScript)\n// Input : items dengan field case.description (markdown) + case.* & event\n// Output: 1 item per \"alert yang sama\" (group by rule.id + agent.id)\n//         Field 'summary' = HTML table berisi SEMUA finding pada grup (ASC by timestamp)\n//         + appended \"desc\" setelah tabel\n//         Field 'case.summary' TIDAK DIUBAH (pakai nilai asli dari input)\n\n// n8n Code node (JavaScript)\n// Mod: remove rule.id, rule.level, agent.id columns; add Source IP (data.srcip)\n\nfunction escapeRegExp(s) {\n  return String(s).replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n}\nfunction htmlEscape(s) {\n  return String(s ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n}\nfunction coerceNum(v) {\n  if (v == null) return null;\n  const n = Number(String(v).trim());\n  return Number.isFinite(n) ? n : null;\n}\nfunction parseTs(ts) {\n  if (!ts) return Number.POSITIVE_INFINITY;\n  let s = String(ts).trim().replace(/\\s+WIB$/i, '');\n  if (/^\\d{4}-\\d{2}-\\d{2}\\s+\\d{2}:\\d{2}:\\d{2}$/.test(s)) {\n    const d = new Date(s.replace(' ', 'T'));\n    if (!isNaN(d.getTime())) return d.getTime();\n    const dZ = new Date(s.replace(' ', 'T') + 'Z');\n    if (!isNaN(dZ.getTime())) return dZ.getTime();\n  }\n  const d = new Date(s);\n  return isNaN(d.getTime()) ? Number.POSITIVE_INFINITY : d.getTime();\n}\nfunction extractBlocks(text) {\n  if (!text) return [];\n  const t = String(text);\n  const timeRe = /\\|\\s*\\*\\*timestamp\\*\\*\\s*\\|\\s*([^\\n|]+)\\s*\\|?/gi;\n  const matches = [...t.matchAll(timeRe)];\n  if (matches.length === 0) return [];\n  const blocks = [];\n  for (let i = 0; i < matches.length; i++) {\n    const start = matches[i].index ?? 0;\n    const end = (i < matches.length - 1) ? (matches[i + 1].index ?? t.length) : t.length;\n    const seg = t.slice(start, end);\n    const ts = matches[i][1].trim();\n    blocks.push({ ts, seg });\n  }\n  return blocks;\n}\nfunction getVal(seg, key) {\n  const re = new RegExp(`\\\\|\\\\s*\\\\*\\\\*${escapeRegExp(key)}\\\\*\\\\*\\\\s*\\\\|\\\\s*([^|\\\\n]+)`, 'i');\n  const m = seg.match(re);\n  return m ? m[1].trim() : null;\n}\n\nfunction buildHtmlTable(rows) {\n  const thStyle = 'border:1px solid #666;padding:4px 6px;text-align:left;font-weight:600;';\n  const tdStyle = 'border:1px solid #666;padding:4px 6px;text-align:left;';\n  const caption = '<div style=\"font-size:14px;font-weight:600;margin:6px 0 4px;\">Extracted Alerts (earliest by timestamps)</div>';\n\n  // MOD: removed Rule Level, Rule ID, Agent ID; added Source IP\n  const header = `\n    <tr>\n      <th style=\"${thStyle}\">#</th>\n      <th style=\"${thStyle}\">Timestamp</th>\n      <th style=\"${thStyle}\">Rule Description</th>\n      <th style=\"${thStyle}\">Source IP</th>\n      <th style=\"${thStyle}\">Agent Name</th>\n      <th style=\"${thStyle}\">Agent IP</th>\n    </tr>\n  `;\n\n  const body = rows.map((r, idx) => `\n    <tr>\n      <td style=\"${tdStyle}\">${idx + 1}</td>\n      <td style=\"${tdStyle}\">${htmlEscape(r.ts)}</td>\n      <td style=\"${tdStyle}\">${htmlEscape(r['rule.description'])}</td>\n      <td style=\"${tdStyle}\">${htmlEscape(r['data.srcip'] ?? '')}</td>\n      <td style=\"${tdStyle}\">${htmlEscape(r['agent.name'])}</td>\n      <td style=\"${tdStyle}\">${htmlEscape(r['agent.ip'])}</td>\n    </tr>\n  `).join('');\n\n  return `\n    <div style=\"border:1px solid #7fb3d5;background:#ecf5fb;border-radius:4px;padding:8px;font-family:system-ui,Segoe UI,Arial,sans-serif;\">\n      ${caption}\n      <table style=\"border-collapse:collapse;width:100%;table-layout:fixed;font-size:12px;\">\n        ${header}\n        ${body}\n      </table>\n    </div>\n  `.trim();\n}\n\nfunction appendDescAfterTable(tableHtml, desc) {\n  const d = String(desc ?? '').trim();\n  if (!d) return tableHtml;\n\n  const boxStyle = 'margin-top:8px;padding:8px;border:1px dashed #999;border-radius:4px;background:#fff;font-size:12px;line-height:1.4;';\n  const labelStyle = 'font-weight:600;margin-bottom:4px;';\n  return `\n    ${tableHtml}\n    <div style=\"${boxStyle}\">\n      <div style=\"${labelStyle}\">Summary:</div>\n      <div>${htmlEscape(d)}</div>\n    </div>\n  `.trim();\n}\n\nfunction makeOneItemForGroup(groupRowsSortedAsc, ctx) {\n  const earliest = groupRowsSortedAsc[0];\n  const tableHtml = buildHtmlTable(groupRowsSortedAsc);\n  const summaryHtml = appendDescAfterTable(tableHtml, ctx.desc);\n\n  return {\n    json: {\n      event: ctx.eventType,\n      'case.id': ctx.caseId,\n      'case.title': ctx.caseTitle,\n      'case.severity': ctx.caseSeverity,\n      'case.severityLabel': ctx.caseSevLabel,\n      'case.status': ctx.caseStatus,\n      'case.stage': ctx.caseStage,\n      'case.summary': ctx.caseSummary,\n      timestamp: earliest.ts,\n      tags: ctx.tags,\n      caller: ctx.caller,\n      agent: ctx.agent,\n      desc: ctx.desc,\n\n      // keep original top-level fields you want (optional)\n      'rule.description': earliest['rule.description'],\n      'agent.name': earliest['agent.name'],\n      'agent.ip': earliest['agent.ip'],\n      'data.srcip': earliest['data.srcip'] ?? null,\n\n      summary: summaryHtml\n    }\n  };\n}\n\nreturn items.flatMap(item => {\n  const root = item.json || {};\n  const desc         = root.desc ?? root.case?.desc ?? '';\n  const mdDesc       = root.case?.description || root.description || '';\n  const caseSummary  = root.change?.summary ?? root['case.summary'] ?? null;\n  const caseId       = root.case?.id ?? null;\n  const caseSeverity = root.case?.severity ?? null;\n  const caseStatus   = root.case?.status ?? null;\n  const caseTitle    = root.case?.title ?? null;\n  const caseSevLabel = (root.case?.severityLabel ?? root.case?.severitylabel ?? null) || null;\n  const caseStage    = root.case?.stage ?? null;\n  const eventType    = root.event ?? null;\n  const tags         = root.case?.tags ?? null;\n  const caller       = root.case?.caller ?? null;\n  const agent        = root.case?.agent ?? null;\n\n  const blocks = extractBlocks(mdDesc);\n\n  // Group semua finding per signature (rule.id + agent.id)\n  // NOTE: grouping tetap pakai rule.id + agent.id walau kolomnya dihapus dari tabel.\n  const mapBySig = new Map();\n  for (const b of blocks) {\n    const ruleDesc  = getVal(b.seg, 'rule.description');\n    const ruleId    = getVal(b.seg, 'rule.id');          // for grouping\n    const agentId   = getVal(b.seg, 'agent.id');         // for grouping\n    const agentName = getVal(b.seg, 'agent.name');\n    const agentIp   = getVal(b.seg, 'agent.ip');\n\n    // MOD: ambil srcip (coba key kecil & key besar)\n    const srcip = getVal(b.seg, 'data.srcip') ?? getVal(b.seg, 'Data.srcip');\n\n    if (!ruleId) continue;\n\n    const row = {\n      ts: b.ts,\n      tsMs: parseTs(b.ts),\n      'rule.description': ruleDesc,\n      'agent.name': agentName,\n      'agent.ip': agentIp,\n      'data.srcip': srcip ?? '' // kalau gak ada, kosong\n    };\n\n    const sig = `${ruleId}::${agentId ?? ''}`;\n    if (!mapBySig.has(sig)) mapBySig.set(sig, []);\n    mapBySig.get(sig).push(row);\n  }\n\n  const ctx = {\n    caseId, caseSeverity, caseStatus, caseTitle, caseSevLabel, caseStage,\n    eventType, caseSummary, tags, caller, agent,\n    desc\n  };\n\n  const results = [...mapBySig.values()]\n    .map(rows => rows.sort((a, b) => a.tsMs - b.tsMs))\n    .map(sortedRows => makeOneItemForGroup(sortedRows, ctx));\n\n  return results;\n});\n\n"
        },
        "position": [
          320,
          -32
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "a7f696ee-15b4-4e60-a7cc-47f76ca59109",
        "name": "CrowdStrike Template",
        "parameters": {
          "jsCode": "// n8n Code node (JavaScript)\n// Input : items dengan field case.description (markdown) + case.* & event\n// Output: 1 item per grup, 'summary' = HTML table semua finding (ASC timestamp)\n// NOTE: case.summary & case.tags TIDAK DIUBAH\n\nfunction escapeRegExp(s) {\n  return String(s).replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n}\nfunction htmlEscape(s) {\n  return String(s ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n}\nfunction coerceNum(v) {\n  if (v == null) return null;\n  const n = Number(String(v).trim());\n  return Number.isFinite(n) ? n : null;\n}\nfunction parseTs(ts) {\n  if (!ts) return Number.POSITIVE_INFINITY;\n  let s = String(ts).trim().replace(/\\s+WIB$/i, '');\n  if (/^\\d{4}-\\d{2}-\\d{2}\\s+\\d{2}:\\d{2}:\\d{2}$/.test(s)) {\n    const d = new Date(s.replace(' ', 'T'));\n    if (!isNaN(d.getTime())) return d.getTime();\n    const dZ = new Date(s.replace(' ', 'T') + 'Z');\n    if (!isNaN(dZ.getTime())) return dZ.getTime();\n  }\n  const d = new Date(s);\n  return isNaN(d.getTime()) ? Number.POSITIVE_INFINITY : d.getTime();\n}\nfunction getVal(seg, key) {\n  const re = new RegExp(`\\\\|\\\\s*\\\\*\\\\*${escapeRegExp(key)}\\\\*\\\\*\\\\s*\\\\|\\\\s*([^|\\\\n]+)`, 'i');\n  const m = seg.match(re);\n  return m ? m[1].trim() : null;\n}\nfunction wholeVal(text, key) {\n  const re = new RegExp(`\\\\|\\\\s*\\\\*\\\\*${escapeRegExp(key)}\\\\*\\\\*\\\\s*\\\\|\\\\s*([^|\\\\n]+)`, 'i');\n  const m = String(text).match(re);\n  return m ? m[1].trim() : null;\n}\n\n// --------- Wazuh ----------\nfunction extractBlocksWazuh(text) {\n  if (!text) return [];\n  const t = String(text);\n  const timeRe = /\\|\\s*\\*\\*timestamp\\*\\*\\s*\\|\\s*([^\\n|]+)\\s*\\|?/gi;\n  const matches = [...t.matchAll(timeRe)];\n  if (matches.length === 0) return [];\n  const blocks = [];\n  for (let i = 0; i < matches.length; i++) {\n    const start = matches[i].index ?? 0;\n    const end = (i < matches.length - 1) ? (matches[i + 1].index ?? t.length) : t.length;\n    const seg = t.slice(start, end);\n    const ts = matches[i][1].trim();\n    blocks.push({ ts, seg });\n  }\n  return blocks;\n}\nfunction collectRowsWazuh(desc) {\n  const blocks = extractBlocksWazuh(desc);\n  const rowsBySig = new Map(); // sig = rule.id :: agent.id\n  for (const b of blocks) {\n    const ruleDesc  = getVal(b.seg, 'rule.description');\n    const ruleId    = getVal(b.seg, 'rule.id');\n    const agentId   = getVal(b.seg, 'agent.id');\n    const agentName = getVal(b.seg, 'agent.name');\n    const agentIp   = getVal(b.seg, 'agent.ip');\n    if (!ruleId) continue;\n    const row = {\n      ts: b.ts,\n      tsMs: parseTs(b.ts),\n      'rule.description': ruleDesc,\n      'rule.id': ruleId,\n      'agent.id': coerceNum(agentId) ?? agentId,\n      'agent.name': agentName,\n      'agent.ip': agentIp\n    };\n    const sig = `${ruleId}::${agentId ?? ''}`;\n    if (!rowsBySig.has(sig)) rowsBySig.set(sig, []);\n    rowsBySig.get(sig).push(row);\n  }\n  for (const [, arr] of rowsBySig) arr.sort((a,b)=>a.tsMs-b.tsMs);\n  return rowsBySig;\n}\nfunction buildHtmlTableWazuh(rows) {\n  const th = 'border:1px solid #666;padding:4px 6px;text-align:left;font-weight:600;';\n  const td = 'border:1px solid #666;padding:4px 6px;text-align:left;';\n  const caption = '<div style=\"font-size:14px;font-weight:600;margin:6px 0 4px;\">Extracted Alerts (earliest by timestamps)</div>';\n  const header = `\n    <tr>\n      <th style=\"${th}\">#</th>\n      <th style=\"${th}\">Timestamp</th>\n      <th style=\"${th}\">Rule Description</th>\n      <th style=\"${th}\">Rule ID</th>\n      <th style=\"${th}\">Agent ID</th>\n      <th style=\"${th}\">Agent Name</th>\n      <th style=\"${th}\">Agent IP</th>\n    </tr>`;\n  const body = rows.map((r,i)=>`\n    <tr>\n      <td style=\"${td}\">${i+1}</td>\n      <td style=\"${td}\">${htmlEscape(r.ts)}</td>\n      <td style=\"${td}\">${htmlEscape(r['rule.description'])}</td>\n      <td style=\"${td}\">${htmlEscape(r['rule.id'])}</td>\n      <td style=\"${td}\">${htmlEscape(r['agent.id'])}</td>\n      <td style=\"${td}\">${htmlEscape(r['agent.name'])}</td>\n      <td style=\"${td}\">${htmlEscape(r['agent.ip'])}</td>\n    </tr>`).join('');\n  return `\n    <div style=\"border:1px solid #7fb3d5;background:#ecf5fb;border-radius:4px;padding:8px;font-family:system-ui,Segoe UI,Arial,sans-serif;\">\n      ${caption}\n      <table style=\"border-collapse:collapse;width:100%;table-layout:fixed;font-size:12px;\">\n        ${header}\n        ${body}\n      </table>\n    </div>`.trim();\n}\n\n// --------- CrowdStrike ----------\nfunction extractAttackTimes(desc) {\n  const t = String(desc || '');\n  const sectionRe = /###\\s*Attack\\s+Times[\\s\\S]*?(\\|[^\\n]*\\n\\|[^\\n]*\\n([\\s\\S]*?))(?:\\n###|\\n*$)/i;\n  const m = t.match(sectionRe);\n  if (!m) return [];\n  const tableBody = m[2] || '';\n  const rows = [];\n  const lineRe = /^\\|\\s*([^\\|]+?)\\s*\\|\\s*$/gm;\n  let lm;\n  while ((lm = lineRe.exec(tableBody)) !== null) {\n    const val = lm[1].trim();\n    if (!val || /^-+$/.test(val)) continue;\n    rows.push(val);\n  }\n  return rows;\n}\nfunction collectRowsCrowdStrike(desc) {\n  const displayName = wholeVal(desc, 'display_name') || wholeVal(desc, 'name') || '';\n  const iocType     = wholeVal(desc, 'ioc_type') || '';\n  const iocValue    = wholeVal(desc, 'ioc_value') || '';\n  const hostname    = wholeVal(desc, 'device.hostname') || wholeVal(desc, 'host_names[0]') || '';\n  const userName    = wholeVal(desc, 'user_name') || '';\n  const localIp     = wholeVal(desc, 'device.local_ip') || '';\n  const ctxTs       = wholeVal(desc, 'context_timestamp') || wholeVal(desc, 'timestamp') || '';\n  const attackTimes = extractAttackTimes(desc);\n  const times = attackTimes.length ? attackTimes : (ctxTs ? [ctxTs] : []);\n  const rows = times.map(ts => ({\n    ts,\n    tsMs: parseTs(ts),\n    detection_name: displayName,\n    ioc_type: iocType,\n    ioc_value: iocValue,\n    hostname,\n    user_name: userName,\n    local_ip: localIp\n  }));\n  const sig = iocValue || wholeVal(desc, 'sha256') || wholeVal(desc, 'id') || 'default';\n  const map = new Map();\n  map.set(sig, rows.sort((a,b)=>a.tsMs-b.tsMs));\n  return map;\n}\nfunction buildHtmlTableCrowdStrike(rows) {\n  const th = 'border:1px solid #666;padding:4px 6px;text-align:left;font-weight:600;';\n  const td = 'border:1px solid #666;padding:4px 6px;text-align:left;';\n  const caption = '<div style=\"font-size:14px;font-weight:600;margin:6px 0 4px;\">Extracted Alerts (earliest by timestamps)</div>';\n  const header = `\n    <tr>\n      <th style=\"${th}\">#</th>\n      <th style=\"${th}\">Timestamp</th>\n      <th style=\"${th}\">Detection Name</th>\n      <th style=\"${th}\">IOC Type</th>\n      <th style=\"${th}\">IOC Value</th>\n      <th style=\"${th}\">Hostname</th>\n      <th style=\"${th}\">User Name</th>\n      <th style=\"${th}\">Local IP</th>\n    </tr>`;\n  const body = rows.map((r,i)=>`\n    <tr>\n      <td style=\"${td}\">${i+1}</td>\n      <td style=\"${td}\">${htmlEscape(r.ts)}</td>\n      <td style=\"${td}\">${htmlEscape(r.detection_name)}</td>\n      <td style=\"${td}\">${htmlEscape(r.ioc_type)}</td>\n      <td style=\"${td}\">${htmlEscape(r.ioc_value)}</td>\n      <td style=\"${td}\">${htmlEscape(r.hostname)}</td>\n      <td style=\"${td}\">${htmlEscape(r.user_name)}</td>\n      <td style=\"${td}\">${htmlEscape(r.local_ip)}</td>\n    </tr>`).join('');\n  return `\n    <div style=\"border:1px solid #7fb3d5;background:#ecf5fb;border-radius:4px;padding:8px;font-family:system-ui,Segoe UI,Arial,sans-serif;\">\n      ${caption}\n      <table style=\"border-collapse:collapse;width:100%;table-layout:fixed;font-size:12px;\">\n        ${header}\n        ${body}\n      </table>\n    </div>`.trim();\n}\n\n// --------- Main ----------\nreturn items.flatMap(item => {\n  const root = item.json || {};\n  const desc         = root.case?.description || root.description || '';\n  const caseSummary  = root.change?.summary ?? root['case.summary'] ?? null; // keep original\n  const caseId       = root.case?.id ?? null;\n  const caseSeverity = root.case?.severity ?? null;\n  const caseStatus   = root.case?.status ?? null;\n  const caseTitle    = root.case?.title ?? null;\n  const caseSevLabel = (root.case?.severityLabel ?? root.case?.severitylabel ?? null) || null;\n  const caseStage    = root.case?.stage ?? null;\n  const caseTags     = root.case?.tags ?? root.tags ?? null;               // <-- KEEP TAGS\n  const eventType    = root.event ?? null;\n  const agent        = root.case?.agent ?? null;\n  const caller       = root.case?.caller ?? null;\n\n  const hasWazuh = /\\|\\s*\\*\\*rule\\.id\\*\\*/i.test(String(desc));\n  const groupsMap = hasWazuh ? collectRowsWazuh(desc) : collectRowsCrowdStrike(desc);\n\n  const results = [];\n  for (const [, rows] of groupsMap) {\n    if (!rows.length) continue;\n    const earliest = rows[0];\n    const summaryHtml = hasWazuh ? buildHtmlTableWazuh(rows) : buildHtmlTableCrowdStrike(rows);\n\n    const base = {\n      event: eventType,\n      'case.id': caseId,\n      'case.title': caseTitle,\n      'case.severity': caseSeverity,\n      'case.severityLabel': caseSevLabel,\n      'case.status': caseStatus,\n      'case.stage': caseStage,\n      'case.tags': caseTags,             // <-- passthrough tags\n      'case.summary': caseSummary,       // keep original\n      timestamp: earliest.ts,\n      summary: summaryHtml,\n      agent: agent,\n      caller: caller\n    };\n\n    if (hasWazuh) {\n      results.push({\n        json: {\n          ...base,\n          'rule.description': earliest['rule.description'],\n          'rule.id': earliest['rule.id'],\n          'agent.id': earliest['agent.id'],\n          'agent.name': earliest['agent.name'],\n          'agent.ip': earliest['agent.ip']\n        }\n      });\n    } else {\n      results.push({\n        json: {\n          ...base,\n          detection_name: earliest.detection_name,\n          ioc_type: earliest.ioc_type,\n          ioc_value: earliest.ioc_value,\n          hostname: earliest.hostname,\n          user_name: earliest.user_name,\n          'agent.ip': earliest.local_ip\n        }\n      });\n    }\n  }\n  return results;\n});\n"
        },
        "position": [
          320,
          752
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "e8cb291f-d129-412c-83b3-f060c0b5dc8a",
        "name": "Jump Server Template",
        "parameters": {
          "jsCode": "// n8n Code node (JavaScript) — JumpServer short log (no table, FIX mixing ?? + ||)\n\n// ---------- utils ----------\nfunction htmlEscape(s) {\n  return String(s ?? '')\n    .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\nfunction coerceNum(v) {\n  if (v == null) return null;\n  const n = Number(String(v).trim());\n  return Number.isFinite(n) ? n : null;\n}\nfunction parseTs(ts) {\n  if (ts == null) return Number.POSITIVE_INFINITY;\n  const t = String(ts).trim();\n  if (/^\\d{10,}$/.test(t)) { // epoch s/ms\n    const n = Number(t);\n    return n < 1e12 ? n * 1000 : n;\n  }\n  const d = new Date(t.replace(' ', 'T'));\n  return isNaN(d.getTime()) ? Number.POSITIVE_INFINITY : d.getTime();\n}\nfunction fmtTs(ts) {\n  const ms = parseTs(ts);\n  if (!Number.isFinite(ms)) return '';\n  const d = new Date(ms);\n  const p = n => String(n).padStart(2, '0');\n  return `${d.getFullYear()}-${p(d.getMonth()+1)}-${p(d.getDate())} ${p(d.getHours())}:${p(d.getMinutes())}:${p(d.getSeconds())}`;\n}\n// Avoid mixing ?? with || in one expr\nfunction firstDefined(...vals) {\n  for (const v of vals) if (v !== undefined && v !== null) return v;\n  return null;\n}\nfunction firstNonEmpty(...vals) {\n  for (const v of vals) if (v !== undefined && v !== null && v !== '') return v;\n  return null;\n}\n\n// ---------- timestamp pick ----------\nfunction pickBestTimestamp(root) {\n  const c = root.case || {};\n  return firstDefined(\n    c.alertDate,\n    root.timestamps?.eventCreatedAt,\n    c.updatedAt,\n    c.createdAt\n  );\n}\n\n// ---------- tags helper ----------\nfunction getAgentIpFromTags(tags) {\n  if (!Array.isArray(tags)) return null;\n  for (const t of tags) {\n    const s = String(t || '');\n    // dukung \"agent_ip:1.2.3.4\" atau \"agent_ip=1.2.3.4\"\n    const m = s.match(/^\\s*agent_ip\\s*[:=]\\s*([0-9]{1,3}(?:\\.[0-9]{1,3}){3})\\s*$/i);\n    if (m) return m[1];\n  }\n  return null;\n}\n\n// ---------- JumpServer parser ----------\nfunction normalizeMsg(s) {\n  // Samakan angka/IP supaya grouping gak pecah gara-gara nilai dinamis\n  return String(s || '')\n    .replace(/\\b\\d{1,3}(?:\\.\\d{1,3}){3}\\b/g, '<IP>') // IP v4\n    .replace(/\\d+/g, '#');                           // angka umum\n}\n\nfunction parseJumpLine(desc) {\n  const line = String(desc || '').trim();\n  if (!line) return null;\n\n  // Format umum: [file] proc[pid]: LEVEL: message\n  const re = /^\\s*\\[([^\\]]+)\\]\\s*([^\\s:\\[]+)(?:\\[(\\d+)\\])?:\\s*(?:(ERROR|WARN(?:ING)?|INFO|DEBUG)\\s*:?\\s*)?(.*)$/i;\n  let m = line.match(re);\n  if (m) {\n    const file = m[1]?.trim() || '';\n    const proc = m[2]?.trim() || '';\n    const pid  = m[3]?.trim() || '';\n    const lvl  = m[4]?.trim().toUpperCase() || '';\n    const msg  = (m[5] ?? '').trim();\n\n    // --- FIX: jangan campur ?? dan || ---\n    const pidNum = coerceNum(pid);\n    const procPid = (pidNum !== null && pidNum !== undefined)\n      ? pidNum\n      : (pid !== '' ? pid : null);\n\n    return {\n      'log.file': file || null,\n      'proc.name': proc || null,\n      'proc.pid': procPid,\n      'log.level': lvl || null,\n      message: msg || null,\n      sig: `${file}|${proc}|${lvl}|${normalizeMsg(msg)}`,\n      pretty: `[${file}] ${proc}${pid ? '['+pid+']' : ''}${lvl ? ' · ' + lvl : ''} — ${msg}`\n    };\n  }\n\n  // Fallback: LEVEL: message\n  const re2 = /^(ERROR|WARN(?:ING)?|INFO|DEBUG)\\s*:?\\s*(.*)$/i;\n  m = line.match(re2);\n  if (m) {\n    const lvl = m[1]?.trim().toUpperCase() || '';\n    const msg = (m[2] ?? '').trim();\n    return {\n      'log.file': null,\n      'proc.name': null,\n      'proc.pid': null,\n      'log.level': lvl || null,\n      message: msg || null,\n      sig: `|unknown|unknown|${lvl}|${normalizeMsg(msg)}`,\n      pretty: `${lvl} — ${msg}`\n    };\n  }\n\n  // Last resort: raw line\n  return {\n    'log.file': null,\n    'proc.name': null,\n    'proc.pid': null,\n    'log.level': null,\n    message: line,\n    sig: `|unknown|unknown||${normalizeMsg(line)}`,\n    pretty: line\n  };\n}\n\nfunction makeSummaryHtml(pretty, tsStr) {\n  const timePart = tsStr ? `<div style=\"font-size:11px;opacity:.8;margin-bottom:2px;\">${htmlEscape(tsStr)}</div>` : '';\n  return `\n    <div style=\"border:1px solid #d0d7de;background:#f6f8fa;border-radius:6px;padding:8px;font-family:system-ui,Segoe UI,Arial,sans-serif;font-size:12px;line-height:1.35;\">\n      ${timePart}\n      <div style=\"font-family:ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;\">\n        ${htmlEscape(pretty)}\n      </div>\n    </div>\n  `.trim();\n}\n\nfunction makeOneItemForGroup(rowsAsc, ctx) {\n  const earliest = rowsAsc[0];\n  const tsStr = earliest.tsFormatted;\n  const summaryHtml = makeSummaryHtml(earliest.pretty, tsStr);\n\n  return {\n    json: {\n      event: ctx.eventType,\n      'case.id': ctx.caseId,\n      'case.title': ctx.caseTitle,\n      'case.severity': ctx.caseSeverity,\n      'case.severityLabel': ctx.caseSevLabel,\n      'case.status': ctx.caseStatus,\n      'case.stage': ctx.caseStage,\n      'case.summary': ctx.caseSummary, // tetap nilai asli\n      timestamp: tsStr,\n      tags: ctx.tags,\n      agent: ctx.agent,\n      caller: ctx.caller,\n      'agent.ip': ctx.agent_ip, // <-- tambahan\n\n      // Field utama dari earliest row\n      'log.file': earliest['log.file'],\n      'proc.name': earliest['proc.name'],\n      'proc.pid': earliest['proc.pid'],\n      'log.level': earliest['log.level'],\n      message: earliest.message,\n\n      // Ringkasan singkat (tanpa tabel)\n      summary: summaryHtml\n    }\n  };\n}\n\n// ---------- main ----------\nreturn items.flatMap(item => {\n  const root = item.json || {};\n  const c = root.case || {};\n\n  const desc = firstNonEmpty(c.description, root.description, '');\n  const caseSummary = firstDefined(root.change?.summary, root['case.summary'], c.summary);\n\n  const tagsArr = Array.isArray(c.tags) ? c.tags : [];\n  const changeTagsArr = Array.isArray(root.change?.tags) ? root.change.tags : [];\n\n  // Ambil agent_ip dari: case.agent_ip (kalau sudah ada), lalu tags di case, lalu tags di change\n  const agentIp = firstNonEmpty(\n    c.agent_ip,\n    getAgentIpFromTags(tagsArr),\n    getAgentIpFromTags(changeTagsArr)\n  );\n\n  const ctx = {\n    eventType: root.event || null,\n    caseId: c.id || null,\n    caseTitle: c.title || null,\n    caseSeverity: c.severity || null,\n    caseSevLabel: c.severityLabel || null,\n    caseStatus: c.status || null,\n    caseStage: c.stage || null,\n    caseSummary,\n    tags: tagsArr,\n    agent: c.agent || null,\n    caller: c.caller || null, // FIX: sebelumnya salah mengacu ke agent\n    agent_ip: agentIp || null,\n  };\n\n  const ts = pickBestTimestamp(root);\n  const tsFormatted = fmtTs(ts);\n\n  const r = parseJumpLine(desc);\n  if (!r) return [];\n\n  // Grouping by signature\n  const group = {};\n  const sig = r.sig;\n  group[sig] = group[sig] || [];\n  group[sig].push({\n    ...r,\n    tsRaw: ts,\n    tsMs: parseTs(ts),\n    tsFormatted,\n  });\n\n  const out = [];\n  for (const rows of Object.values(group)) {\n    rows.sort((a, b) => a.tsMs - b.tsMs);\n    out.push(makeOneItemForGroup(rows, ctx));\n  }\n  return out;\n});\n"
        },
        "position": [
          320,
          560
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "dfaf6efc-70ba-495c-84c0-53215c8ff541",
        "name": "DLP Template",
        "parameters": {
          "jsCode": "// n8n Code node (JavaScript)\n// Input : items dengan struktur TheHive, case.description berisi baris \"DLP Alert | ...\"\n// Output: 1 item per grup (Policy + User + Dst IP)\n//         Field 'summary' = HTML table berisi SEMUA finding pada grup (ASC by timestamp)\n//         Field 'case.summary' TIDAK DIUBAH\n\nfunction escapeRegExp(s) {\n  return String(s).replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n}\nfunction htmlEscape(s) {\n  return String(s ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n}\nfunction coerceNum(v) {\n  if (v == null) return null;\n  const n = Number(String(v).trim());\n  return Number.isFinite(n) ? n : null;\n}\nfunction parseTs(ts) {\n  if (!ts) return Number.POSITIVE_INFINITY;\n  let s = String(ts).trim().replace(/\\s+WIB$/i, '');\n  if (/^\\d{4}-\\d{2}-\\d{2}[ T]\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?Z?$/.test(s)) {\n    const d = new Date(s.replace(' ', 'T'));\n    return isNaN(d.getTime()) ? Number.POSITIVE_INFINITY : d.getTime();\n  }\n  const d = new Date(s);\n  return isNaN(d.getTime()) ? Number.POSITIVE_INFINITY : d.getTime();\n}\nfunction pickBestTimestamp(root) {\n  // prioritas: case.alertDate -> timestamps.eventCreatedAt -> case.updatedAt -> case.createdAt\n  return (\n    root.case?.alertDate ||\n    root.timestamps?.eventCreatedAt ||\n    root.case?.updatedAt ||\n    root.case?.createdAt ||\n    null\n  );\n}\n\n// --- DLP parser ---\nfunction parseDlpLine(line) {\n  const s = String(line || '');\n  if (!/user\\s*:|src\\s*:|dst\\s*:|policy\\s*:/i.test(s)) return null;\n\n  // Regex spesifik\n  const userM   = s.match(/user\\s*:\\s*([^|]+?)(?:\\s*\\||$)/i);\n  const srcM    = s.match(/src\\s*:\\s*([0-9.]+)\\s*:\\s*(\\d+)/i);\n  const dstM    = s.match(/dst\\s*:\\s*([0-9.]+)\\s*:\\s*(\\d+)/i);\n  const actionM = s.match(/action\\s*:\\s*([^|]+?)(?:\\s*\\||$)/i);\n  const appM    = s.match(/app\\s*:\\s*([^|]+?)(?:\\s*\\||$)/i);\n  const polM    = s.match(/policy\\s*:\\s*([^|]+?)(?:\\s*\\||$)/i);\n\n  // Fallback generic: pecah dengan '|', ambil key:value\n  const parts = s.split('|').map(p => p.trim());\n  const kv = {};\n  for (const p of parts) {\n    const m = p.match(/^([A-Za-z ._-]+)\\s*:\\s*(.+)$/);\n    if (m) kv[m[1].trim().toLowerCase()] = m[2].trim();\n  }\n\n  const user  = (userM?.[1] || kv['user'] || null)?.trim() || null;\n  const srcIp = (srcM?.[1] || (kv['src']?.split(':')[0]) || null) || null;\n  const srcPo = (srcM?.[2] || (kv['src']?.split(':')[1]) || null) || null;\n  const dstIp = (dstM?.[1] || (kv['dst']?.split(':')[0]) || null) || null;\n  const dstPo = (dstM?.[2] || (kv['dst']?.split(':')[1]) || null) || null;\n  const action= (actionM?.[1] || kv['action'] || null)?.trim() || null;\n  const app   = (appM?.[1] || kv['app'] || null)?.trim() || null;\n  const policy= (polM?.[1] || kv['policy'] || null)?.trim() || null;\n\n  // Jika minimal field penting kosong, anggap tidak valid\n  if (!policy && !user && !srcIp && !dstIp) return null;\n\n  return {\n    user,\n    'src.ip': srcIp,\n    'src.port': coerceNum(srcPo) ?? srcPo,\n    'dst.ip': dstIp,\n    'dst.port': coerceNum(dstPo) ?? dstPo,\n    action,\n    app,\n    policy,\n  };\n}\n\nfunction extractDlpRowsFromDescription(desc) {\n  if (!desc) return [];\n  const lines = String(desc).split(/\\r?\\n/);\n  const rows = [];\n  for (const line of lines) {\n    if (!/dlp/i.test(line)) continue; // cari baris yang mengandung DLP\n    const r = parseDlpLine(line);\n    if (r) rows.push(r);\n  }\n  // Kalau tidak ketemu di baris yang mengandung 'DLP', coba parse seluruh description sebagai satu baris\n  if (rows.length === 0) {\n    const r = parseDlpLine(desc);\n    if (r) rows.push(r);\n  }\n  return rows;\n}\n\n// HTML table\nfunction buildHtmlTable(rows) {\n  const th = 'border:1px solid #666;padding:4px 6px;text-align:left;font-weight:600;';\n  const td = 'border:1px solid #666;padding:4px 6px;text-align:left;';\n  const caption = '<div style=\"font-size:14px;font-weight:600;margin:6px 0 4px;\">Extracted DLP Alerts</div>';\n  const header = `\n    <tr>\n      <th style=\"${th}\">#</th>\n      <th style=\"${th}\">Timestamp</th>\n      <th style=\"${th}\">User</th>\n      <th style=\"${th}\">Src</th>\n      <th style=\"${th}\">Dst</th>\n      <th style=\"${th}\">Action</th>\n      <th style=\"${th}\">App</th>\n      <th style=\"${th}\">Policy</th>\n    </tr>\n  `;\n  const body = rows.map((r, i) => {\n    const src = [r['src.ip'], r['src.port'] != null ? String(r['src.port']) : null].filter(Boolean).join(':');\n    const dst = [r['dst.ip'], r['dst.port'] != null ? String(r['dst.port']) : null].filter(Boolean).join(':');\n    return `\n      <tr>\n        <td style=\"${td}\">${i + 1}</td>\n        <td style=\"${td}\">${htmlEscape(r.ts)}</td>\n        <td style=\"${td}\">${htmlEscape(r.user ?? '')}</td>\n        <td style=\"${td}\">${htmlEscape(src)}</td>\n        <td style=\"${td}\">${htmlEscape(dst)}</td>\n        <td style=\"${td}\">${htmlEscape(r.action ?? '')}</td>\n        <td style=\"${td}\">${htmlEscape(r.app ?? '')}</td>\n        <td style=\"${td}\">${htmlEscape(r.policy ?? '')}</td>\n      </tr>\n    `;\n  }).join('');\n\n  return `\n    <div style=\"border:1px solid #7fb3d5;background:#ecf5fb;border-radius:4px;padding:8px;font-family:system-ui,Segoe UI,Arial,sans-serif;\">\n      ${caption}\n      <table style=\"border-collapse:collapse;width:100%;table-layout:fixed;font-size:12px;\">\n        ${header}\n        ${body}\n      </table>\n    </div>\n  `.trim();\n}\n\nfunction makeOneItemForGroup(groupRowsSortedAsc, ctx) {\n  const earliest = groupRowsSortedAsc[0];\n  const tableHtml = buildHtmlTable(groupRowsSortedAsc);\n  return {\n    json: {\n      event: ctx.eventType,\n      'case.id': ctx.caseId,\n      'case.title': ctx.caseTitle,\n      'case.severity': ctx.caseSeverity,\n      'case.severityLabel': ctx.caseSevLabel,\n      'case.status': ctx.caseStatus,\n      'case.stage': ctx.caseStage,\n      'case.summary': ctx.caseSummary, // <-- TETAP NILAI ASLI\n      timestamp: earliest.ts,\n      tags: ctx.tags,\n      agent: ctx.agent,\n      caller: ctx.caller,\n\n      // Field utama dari earliest row\n      user: earliest.user ?? null,\n      'src.ip': earliest['src.ip'] ?? null,\n      'src.port': earliest['src.port'] ?? null,\n      'dst.ip': earliest['dst.ip'] ?? null,\n      'dst.port': earliest['dst.port'] ?? null,\n      action: earliest.action ?? null,\n      app: earliest.app ?? null,\n      policy: earliest.policy ?? null,\n\n      // HTML table berisi semua finding pada grup\n      summary: tableHtml\n    }\n  };\n}\n\nreturn items.flatMap(item => {\n  const root = item.json || {};\n  const desc         = root.case?.description || root.description || '';\n  const caseSummary  = root.change?.summary ?? root['case.summary'] ?? null; // simpan yang asli\n  const caseId       = root.case?.id ?? null;\n  const caseSeverity = root.case?.severity ?? null;\n  const caseStatus   = root.case?.status ?? null;\n  const caseTitle    = root.case?.title ?? null;\n  const caseSevLabel = (root.case?.severityLabel ?? root.case?.severitylabel ?? null) || null;\n  const caseStage    = root.case?.stage ?? null;\n  const eventType    = root.event ?? null;\n  const tags         = root.case?.tags ?? null;\n  const agent        = root.case?.agent ?? null;\n  const caller       = root.case?.caller ?? null;\n  const baseTsStr = pickBestTimestamp(root);\n  const rows = extractDlpRowsFromDescription(desc).map(r => {\n    const tsStr = baseTsStr || ''; // DLP raw biasanya ga ada timestamp di description\n    return {\n      ...r,\n      ts: tsStr ? String(tsStr).replace('T', ' ').replace('Z','Z') : '',\n      tsMs: parseTs(tsStr)\n    };\n  });\n\n  if (rows.length === 0) {\n    // Tidak ada baris DLP valid -> tidak keluarkan item apapun.\n    return [];\n  }\n\n  // Grouping: Policy + User + Dst IP (anggap sebagai satu \"alert yang sama\")\n  const map = new Map();\n  for (const r of rows) {\n    const sig = `${r.policy ?? ''}::${r.user ?? ''}::${r['dst.ip'] ?? ''}`;\n    if (!map.has(sig)) map.set(sig, []);\n    map.get(sig).push(r);\n  }\n\n  const ctx = { caseId, caseSeverity, caseStatus, caseTitle, caseSevLabel, caseStage, eventType, caseSummary, tags, caller, agent };\n\n  const results = [...map.values()]\n    .map(arr => arr.sort((a, b) => a.tsMs - b.tsMs))\n    .map(sorted => makeOneItemForGroup(sorted, ctx));\n\n  return results;\n});\n"
        },
        "position": [
          320,
          352
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "5101fb3d-fed4-41b1-b9df-c3c61ad6ac09",
        "name": "Sentinel One Template",
        "parameters": {
          "jsCode": "// n8n Code node (JavaScript) — SentinelOne (FIX: no mixing ?? with ||)\n\n// ---------- util ----------\nfunction htmlEscape(s) {\n  return String(s ?? '')\n    .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\nfunction coerceNum(v) {\n  if (v == null) return null;\n  const n = Number(String(v).trim());\n  return Number.isFinite(n) ? n : null;\n}\nfunction parseTs(ts) {\n  if (ts == null) return Number.POSITIVE_INFINITY;\n  const t = String(ts).trim();\n  if (/^\\d{10,}$/.test(t)) { // epoch s/ms\n    const n = Number(t);\n    return n < 1e12 ? n * 1000 : n;\n  }\n  const d = new Date(t.replace(' ', 'T'));\n  return isNaN(d.getTime()) ? Number.POSITIVE_INFINITY : d.getTime();\n}\nfunction fmtTs(ts) {\n  const ms = parseTs(ts);\n  if (!Number.isFinite(ms)) return '';\n  const d = new Date(ms);\n  const p = n => String(n).padStart(2, '0');\n  return `${d.getFullYear()}-${p(d.getMonth()+1)}-${p(d.getDate())} ${p(d.getHours())}:${p(d.getMinutes())}:${p(d.getSeconds())}`;\n}\n// Coalesce helpers (hindari mixing ?? dan ||)\nfunction firstDefined(...vals) {\n  for (const v of vals) if (v !== undefined && v !== null) return v;\n  return null;\n}\nfunction firstNonEmpty(...vals) {\n  for (const v of vals) if (v !== undefined && v !== null && v !== '') return v;\n  return null;\n}\n\n// ---------- parser ----------\nfunction pickBestTimestamp(kv, obj) {\n  return firstDefined(\n    kv['threatInfo.identifiedAt'],\n    kv['threatInfo.createdAt'],\n    obj?.alertDate,\n    obj?._updatedAt,\n    obj?._createdAt\n  );\n}\nfunction extractKVFromMarkdown(desc) {\n  const map = {};\n  if (!desc) return map;\n  const re = /\\|\\s*\\*\\*([^*|]+)\\*\\*\\s*\\|\\s*([^|]*?)\\s*\\|/g;\n  let m;\n  while ((m = re.exec(desc)) !== null) {\n    const key = String(m[1] ?? '').trim();\n    let val = String(m[2] ?? '').trim();\n    if (/^(None|null|undefined)$/i.test(val)) val = '';\n    map[key] = val;\n  }\n  return map;\n}\nfunction buildRowFromKV(kv, root) {\n  const obj = root?.body?.object || root?.object || root?.case || {};\n  const tsChoice = pickBestTimestamp(kv, obj);\n\n  const agentId = firstNonEmpty(kv['agentRealtimeInfo.agentId']);\n  const agentNm = firstNonEmpty(kv['agentRealtimeInfo.agentComputerName']);\n  const agentIp = firstNonEmpty(kv['agentDetectionInfo.agentIpV4'], kv['agentRealtimeInfo.networkInterfaces[0].inet[0]']);\n\n  const tId    = firstNonEmpty(kv['threatInfo.threatId']);\n  const tName  = firstNonEmpty(kv['threatInfo.threatName'], obj?.title);\n  const cls    = firstNonEmpty(kv['threatInfo.classification']);\n  const conf   = firstNonEmpty(kv['threatInfo.confidenceLevel']);\n  const sha256 = firstNonEmpty(kv['threatInfo.sha256']);\n  const fpath  = firstNonEmpty(kv['threatInfo.filePath']);\n  const miti   = firstNonEmpty(kv['threatInfo.mitigationStatusDescription'], kv['threatInfo.mitigationStatus']);\n  const inci   = firstNonEmpty(kv['threatInfo.incidentStatusDescription'], kv['threatInfo.incidentStatus']);\n\n  const sigPrimary = firstNonEmpty(tId, sha256, tName, '');\n  const sigAgent   = firstNonEmpty(agentId, agentNm, agentIp, '');\n  const sig = `${sigPrimary}::${sigAgent}`;\n\n  return {\n    sig,\n    tsRaw: tsChoice,\n    ts: fmtTs(tsChoice),\n    tsMs: parseTs(tsChoice),\n    'agent.id': firstNonEmpty(coerceNum(agentId), agentId),\n    'agent.name': firstNonEmpty(agentNm),\n    'agent.ip': firstNonEmpty(agentIp),\n    'threat.id': firstNonEmpty(coerceNum(tId), tId),\n    'threat.name': firstNonEmpty(tName),\n    'threat.classification': firstNonEmpty(cls),\n    'threat.confidence': firstNonEmpty(conf),\n    'threat.sha256': firstNonEmpty(sha256),\n    'threat.filePath': firstNonEmpty(fpath),\n    'threat.mitigationStatus': firstNonEmpty(miti),\n    'threat.incidentStatus': firstNonEmpty(inci),\n  };\n}\n\nfunction buildHtmlTable(rows) {\n  const th = 'border:1px solid #666;padding:4px 6px;text-align:left;font-weight:600;';\n  const td = 'border:1px solid #666;padding:4px 6px;text-align:left;';\n  const caption = '<div style=\"font-size:14px;font-weight:600;margin:6px 0 4px;\">SentinelOne Findings</div>';\n  const header = `\n    <tr>\n      <th style=\"${th}\">#</th>\n      <th style=\"${th}\">Timestamp</th>\n      <th style=\"${th}\">Host</th>\n      <th style=\"${th}\">Agent IP</th>\n      <th style=\"${th}\">Threat Name</th>\n      <th style=\"${th}\">Classification</th>\n      <th style=\"${th}\">Confidence</th>\n      <th style=\"${th}\">SHA256</th>\n      <th style=\"${th}\">File Path</th>\n      <th style=\"${th}\">Mitigation</th>\n      <th style=\"${th}\">Incident</th>\n    </tr>`;\n  const body = rows.map((r, i) => {\n    const shaShort = r['threat.sha256'] ? `${String(r['threat.sha256']).slice(0,12)}…` : '';\n    return `\n      <tr>\n        <td style=\"${td}\">${i + 1}</td>\n        <td style=\"${td}\">${htmlEscape(r.ts)}</td>\n        <td style=\"${td}\">${htmlEscape(r['agent.name'] ?? '')}</td>\n        <td style=\"${td}\">${htmlEscape(r['agent.ip'] ?? '')}</td>\n        <td style=\"${td}\">${htmlEscape(r['threat.name'] ?? '')}</td>\n        <td style=\"${td}\">${htmlEscape(r['threat.classification'] ?? '')}</td>\n        <td style=\"${td}\">${htmlEscape(r['threat.confidence'] ?? '')}</td>\n        <td style=\"${td}\" title=\"${htmlEscape(r['threat.sha256'] ?? '')}\">${htmlEscape(shaShort)}</td>\n        <td style=\"${td}\">${htmlEscape(r['threat.filePath'] ?? '')}</td>\n        <td style=\"${td}\">${htmlEscape(r['threat.mitigationStatus'] ?? '')}</td>\n        <td style=\"${td}\">${htmlEscape(r['threat.incidentStatus'] ?? '')}</td>\n      </tr>`;\n  }).join('');\n\n  return `\n    <div style=\"border:1px solid #7fb3d5;background:#ecf5fb;border-radius:4px;padding:8px;font-family:system-ui,Segoe UI,Arial,sans-serif;\">\n      ${caption}\n      <table style=\"border-collapse:collapse;width:100%;table-layout:fixed;font-size:12px;\">\n        ${header}\n        ${body}\n      </table>\n    </div>`.trim();\n}\n\nfunction makeOneItemForGroup(groupRowsAsc, ctx) {\n  const earliest = groupRowsAsc[0];\n  const tableHtml = buildHtmlTable(groupRowsAsc);\n  return {\n    json: {\n      event: ctx.eventType,\n      'case.id': ctx.caseId,\n      'case.title': ctx.caseTitle,\n      'case.severity': ctx.caseSeverity,\n      'case.severityLabel': ctx.caseSevLabel,\n      'case.status': ctx.caseStatus,\n      'case.stage': ctx.caseStage,\n      'case.summary': ctx.caseSummary, // tidak diubah\n      timestamp: earliest.ts,\n      tags: ctx.tags,\n      agent: ctx.agent,\n      caller: ctx.caller,\n      // utama dari earliest\n      'agent.id': earliest['agent.id'],\n      'agent.name': earliest['agent.name'],\n      'agent.ip': earliest['agent.ip'],\n      'threat.id': earliest['threat.id'],\n      'threat.name': earliest['threat.name'],\n      'threat.classification': earliest['threat.classification'],\n      'threat.confidence': earliest['threat.confidence'],\n      'threat.sha256': earliest['threat.sha256'],\n      'threat.filePath': earliest['threat.filePath'],\n      'threat.mitigationStatus': earliest['threat.mitigationStatus'],\n      'threat.incidentStatus': earliest['threat.incidentStatus'],\n      // tabel HTML semua finding\n      summary: tableHtml\n    }\n  };\n}\n\n// ---------- main ----------\nreturn items.flatMap(item => {\n  const root = item.json || {};\n  const obj = root.body?.object || root.object || root.case || {};\n  const desc = obj.description || root.description || '';\n\n  const caseSummary = firstDefined(obj.summary, root.change?.summary, root['case.summary']);\n  const ctx = {\n    eventType: firstDefined(root.event, root.body?.action),\n    caseId: firstDefined(obj._id, obj.id),\n    caseTitle: obj.title ?? null,\n    caseSeverity: obj.severity ?? null,\n    caseSevLabel: obj.severityLabel ?? null,\n    caseStatus: obj.status ?? null,\n    caseStage: obj.stage ?? null,\n    caseSummary,\n    agent: obj.agent ?? null,\n    caller: obj.caller ?? null,\n    tags: obj.tags ?? null,\n    \n  };\n\n  const kv = extractKVFromMarkdown(desc);\n  const rowsRaw = [];\n  if (Object.keys(kv).length > 0) {\n    rowsRaw.push(buildRowFromKV(kv, root));\n  } else {\n    // fallback minimal\n    const ts = firstDefined(obj.alertDate, obj._updatedAt, obj._createdAt);\n    rowsRaw.push({\n      sig: `${firstNonEmpty(obj.title, '')}::${firstNonEmpty(obj.number, '')}`,\n      tsRaw: ts, ts: fmtTs(ts), tsMs: parseTs(ts),\n      'agent.id': null, 'agent.name': null, 'agent.ip': null,\n      'threat.id': null, 'threat.name': firstNonEmpty(obj.title),\n      'threat.classification': null, 'threat.confidence': null,\n      'threat.sha256': null, 'threat.filePath': null,\n      'threat.mitigationStatus': null, 'threat.incidentStatus': null,\n    });\n  }\n\n  const bySig = new Map();\n  for (const r of rowsRaw) {\n    if (!bySig.has(r.sig)) bySig.set(r.sig, []);\n    bySig.get(r.sig).push(r);\n  }\n\n  const out = [];\n  for (const rows of bySig.values()) {\n    rows.sort((a, b) => a.tsMs - b.tsMs);\n    out.push(makeOneItemForGroup(rows, ctx));\n  }\n  return out;\n});\n"
        },
        "position": [
          320,
          160
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "bec317db-59f4-48cb-a0ec-ebf89a2c5d94",
        "name": "Switch",
        "parameters": {
          "options": {},
          "rules": {
            "values": [
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "932a9272-6591-4e76-a1ee-c3a8263e6ac9",
                      "leftValue": "={{ $json.mode }}",
                      "operator": {
                        "operation": "equals",
                        "type": "string"
                      },
                      "rightValue": "create"
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  }
                },
                "outputKey": "Create",
                "renameOutput": true
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "1213412a-54e9-4d0b-a9dd-490d7129c237",
                      "leftValue": "={{ $json.mode }}",
                      "operator": {
                        "name": "filter.operator.equals",
                        "operation": "equals",
                        "type": "string"
                      },
                      "rightValue": "update"
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  }
                },
                "outputKey": "Update",
                "renameOutput": true
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "23473f87-473b-459a-96a3-922e06a08a5d",
                      "leftValue": "={{ $json.mode }}",
                      "operator": {
                        "name": "filter.operator.equals",
                        "operation": "equals",
                        "type": "string"
                      },
                      "rightValue": "delete"
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  }
                },
                "outputKey": "Delete",
                "renameOutput": true
              },
              {
                "conditions": {
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "6c33c96c-35ca-4edb-8884-67579e5d7da7",
                      "leftValue": "={{ $json.mode }}",
                      "operator": {
                        "name": "filter.operator.equals",
                        "operation": "equals",
                        "type": "string"
                      },
                      "rightValue": "noop"
                    }
                  ],
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  }
                },
                "outputKey": "No Operation",
                "renameOutput": true
              }
            ]
          }
        },
        "position": [
          1872,
          320
        ],
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2
      },
      {
        "id": "5aeeba46-8bee-4ca0-a58f-666d7fa971fb",
        "name": "Create Ticket iTop",
        "parameters": {
          "bodyParameters": {
            "parameters": [
              {
                "name": "version",
                "value": "1.3"
              },
              {
                "name": "auth_user",
                "value": "n8nautomation"
              },
              {
                "name": "auth_pwd",
                "value": "Passw0rd!"
              },
              {
                "name": "json_data",
                "value": "={\n  \"operation\": \"core/create\",\n  \"comment\": \"Synchronization from TheHive\",\n  \"class\": \"Incident\",\n  \"output_fields\": \"*\",\n  \"fields\": {\n    \"org_id\": \"SELECT Organization WHERE name = \\\"PT Sat Nusapersada Tbk\\\"\",\n    \"impact\": \"2\",\n    \"origin\": \"portal\",\n    \"urgency\": {{ JSON.stringify((() => {\n      const s = String($json[\"case.severityLabel\"] || '').toLowerCase();\n      if (s === 'critical') return '1';\n      if (s === 'high')     return '2';\n      if (s === 'medium')   return '3';\n      return '4';\n    })()) }},\n    \"title\": {{ JSON.stringify((() => {\n  const title = String($json[\"case.title\"] ?? \"\");\n  const ipVal = ($json[\"agent_ip\"] ?? $json[\"agent.ip\"]);\n  const ip = (ipVal !== undefined && ipVal !== null && String(ipVal).trim() !== \"\")\n    ? String(ipVal).trim()\n    : \"\";\n  return ip ? `${title} | ${ip}` : title;\n})()) }},\n    \"status\": {{ JSON.stringify((() => {\n      const s = String($json[\"case.stage\"] || '').toLowerCase();\n      if (s.includes('inprogress')) return 'assigned';\n      if (s.includes('closed'))     return 'resolved';\n      return 'new';\n    })()) }}\n    {{\n      (function () {\n        const v = $json.caller;\n        if (v !== null && v !== undefined && String(v).trim() !== '-' && String(v).trim() !== '') {\n          return ', \"caller_id\": ' + JSON.stringify({ friendlyname: String(v).trim() });\n        }\n        return '';\n      })()\n    }}\n    {{\n      (function () {\n        const v = $json.agent;\n        if (v !== null && v !== undefined && String(v).trim() !== '-' && String(v).trim() !== '') {\n          return ', \"agent_id\": ' + JSON.stringify(`SELECT Person WHERE email = \"${String(v).trim()}\"`);\n        }\n        return '';\n      })()\n    }}\n    , \"description\": {{ JSON.stringify($json.summary) }},\n    \"service_id\": \"SELECT Service WHERE name = \\\"CYBER SECURITY\\\"\",\n    \"servicesubcategory_id\": \"SELECT ServiceSubcategory WHERE name = \\\"{{ $('More Filter').item.json.body.context.customFieldValues[\"service-subcategory\"] }}\\\"\",\n    \"team_id\": \"SELECT Team WHERE email = \\\"{{ $json.agent }}\\\"\"\n  }\n}\n"
              }
            ]
          },
          "contentType": "multipart-form-data",
          "method": "POST",
          "options": {
            "allowUnauthorizedCerts": true
          },
          "sendBody": true,
          "url": "https://servicedesk.satnusa.com/webservices/rest.php"
        },
        "position": [
          2080,
          48
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "id": "52a678c6-dbda-45ad-9969-04303ffd3406",
        "name": "Update Ticket iTop",
        "parameters": {
          "bodyParameters": {
            "parameters": [
              {
                "name": "version",
                "value": "1.3"
              },
              {
                "name": "auth_user",
                "value": "n8nautomation"
              },
              {
                "name": "auth_pwd",
                "value": "Passw0rd!"
              },
              {
                "name": "json_data",
                "value": "={\n  \"operation\": \"core/update\",\n  \"comment\": \"Synchronization from TheHive\",\n  \"class\": \"Incident\",\n  \"key\": \"SELECT Incident WHERE ref = \\\"{{ $json.itop_ref }}\\\"\",\n  \"output_fields\": \"*\",\n  \"fields\":\n  {\n    \"urgency\": {{ JSON.stringify((() => {\n      const s = String($items('Switch', 1, 0)[$itemIndex].json[\"case.severityLabel\"] || '').toLowerCase();\n      if (s === 'critical') return '1';\n      if (s === 'high')     return '2';\n      if (s === 'medium')   return '3';\n      return '4';\n    })()) }},\n    \"status\": {{ JSON.stringify((() => {\n      const s = String($items('Switch', 1, 0)[$itemIndex].json[\"case.stage\"] || '').toLowerCase();\n      if (s.includes('inprogress')) return 'assigned';\n      if (s.includes('closed'))     return 'resolved';\n      return 'new';\n    })()) }}\n    {{\n      String($items('Switch', 1, 0)[$itemIndex].json[\"case.stage\"]||'').toLowerCase().includes('closed')\n        ? (function(){\n            var st = String($items('Switch', 1, 0)[$itemIndex].json[\"case.status\"]||'');\n            var sm = String($items('Switch', 1, 0)[$itemIndex].json[\"case.summary\"]||'').trim();\n            var reason = sm || st;\n            return ',\"public_log\":' + JSON.stringify('Closed with status ' + st + ', Reason: ' + reason);\n          })()\n        : ''\n}}\n    {{\n      (function () {\n        const v = $json.caller;\n        if (v !== null && v !== undefined && String(v).trim() !== '-' && String(v).trim() !== '') {\n          return ', \"caller_id\": ' + JSON.stringify({ friendlyname: String(v).trim() });\n        }\n        return '';\n      })()\n    }}\n    {{\n      (function () {\n        const v = $json.agent;\n        if (v !== null && v !== undefined && String(v).trim() !== '-' && String(v).trim() !== '') {\n          return ', \"agent_id\": ' + JSON.stringify(`SELECT Person WHERE email = \"${String(v).trim()}\"`);\n        }\n        return '';\n      })()\n    }}\n  }\n}\n"
              }
            ]
          },
          "contentType": "multipart-form-data",
          "method": "POST",
          "options": {
            "allowUnauthorizedCerts": true
          },
          "sendBody": true,
          "url": "https://servicedesk.satnusa.com/webservices/rest.php"
        },
        "position": [
          2080,
          240
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "id": "33cb5782-6cb5-4700-be92-1d38f55bf44c",
        "name": "Hash ITop Ticket",
        "parameters": {
          "value": "={{ JSON.stringify($json) }}"
        },
        "position": [
          2528,
          48
        ],
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 1
      },
      {
        "id": "6a46206a-9a47-43fb-a2c3-77f7a837b98a",
        "name": "Hash Updated ITop Ticket",
        "parameters": {
          "value": "={{ JSON.stringify($json) }}\n"
        },
        "position": [
          2528,
          240
        ],
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 1
      },
      {
        "id": "af53e893-3efb-4d8d-9cbb-68e6e8a59251",
        "name": "New Checkpoint",
        "parameters": {
          "operation": "executeQuery",
          "options": {},
          "query": "INSERT INTO thehive_itop_sync (thehive_id, itop_ref, thehive_hash, itop_hash)\nVALUES ('{{ $items('Switch', 0, 0)[$itemIndex].json[\"case.id\"] }}', '{{ $json.itop_ref }}', '{{ $items('Switch', 0, 0)[$itemIndex].json.case_hash }}', '{{ $json.data }}');"
        },
        "position": [
          2752,
          48
        ],
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6
      },
      {
        "id": "3b182d1c-d5b4-4e37-b8a5-831b9dfd828b",
        "name": "Checkpoint",
        "parameters": {
          "operation": "executeQuery",
          "options": {},
          "query": "UPDATE thehive_itop_sync\nSET\n  thehive_hash = '{{ $items('Switch', 1, 0)[$itemIndex].json.case_hash }}',\n  itop_hash = '{{ $json.data }}'\nWHERE itop_ref = '{{ $json.itop_ref }}'"
        },
        "position": [
          2752,
          240
        ],
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6
      },
      {
        "id": "ca9d8672-a0dd-4c33-9d02-6a51971004b2",
        "name": "Normalize Structure for Hash",
        "parameters": {
          "jsCode": "// Flatten banyak items iTop -> 1 item per tiket (Incident/UserRequest)\nconst allowed = new Set(['Incident', 'UserRequest']);\nconst seen = new Set();          // buat dedupe kalau ada duplikasi\nconst out = [];\n\n// helper: HTML -> text sederhana\nfunction htmlToText(html = '') {\n  return String(html)\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<[^>]+>/g, '')\n    .replace(/\\r?\\n\\s*\\r?\\n/g, '\\n')\n    .trim();\n}\n\nfor (const it of items) {\n  const objs = it.json?.objects || {};\n  for (const [key, obj] of Object.entries(objs)) {\n    const cls = obj.class || (key.includes('::') ? key.split('::')[0] : 'Unknown');\n    if (!allowed.has(cls)) continue;\n\n    const f = obj.fields || {};\n    const id = String(f.id ?? obj.key ?? (key.split('::')[1] || ''));\n    const composite_id = `${cls}:${id}`;\n    if (seen.has(composite_id)) continue;  // dedupe antar items\n    seen.add(composite_id);\n\n    const html = f.description || '';\n    const text = htmlToText(html);\n\n    out.push({\n      json: {\n        // identitas untuk mapping & checkpoint\n        itop_class: cls,                 // \"Incident\" / \"UserRequest\"\n        itop_id: id,                     // e.g. \"6\"\n        itop_ref: f.ref || '',           // e.g. \"I-000006\" / \"R-000004\"\n        composite_id,                    // e.g. \"Incident:6\"\n        \n        service_name: f.servicesubcategory_name,\n        title: f.title || '',\n        description_html: html,\n        description_text: text,\n        resolution: f.solution || null,\n        status: f.status || f.status || '',\n        start_date: f.start_date || null,\n        last_update: f.last_update || null,\n        urgency: f.urgency || null,\n        org_id: String(f.org_id || ''),\n        org_name: f.org_name || (f.org_id_friendlyname || '')\n      }\n    });\n  }\n}\n\nreturn out;\n"
        },
        "position": [
          2304,
          48
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "d9a6b816-7b2d-4a40-aca5-ab5e41e3efa9",
        "name": "No Operation, do nothing",
        "parameters": {},
        "position": [
          2080,
          640
        ],
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1
      },
      {
        "id": "5fd43107-b8b4-49be-a049-b425babc629f",
        "name": "Normalize Structure for Updated Hash",
        "parameters": {
          "jsCode": "// Flatten banyak items iTop -> 1 item per tiket (Incident/UserRequest)\nconst allowed = new Set(['Incident', 'UserRequest']);\nconst seen = new Set();          // buat dedupe kalau ada duplikasi\nconst out = [];\n\n// helper: HTML -> text sederhana\nfunction htmlToText(html = '') {\n  return String(html)\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<[^>]+>/g, '')\n    .replace(/\\r?\\n\\s*\\r?\\n/g, '\\n')\n    .trim();\n}\n\nfor (const it of items) {\n  const objs = it.json?.objects || {};\n  for (const [key, obj] of Object.entries(objs)) {\n    const cls = obj.class || (key.includes('::') ? key.split('::')[0] : 'Unknown');\n    if (!allowed.has(cls)) continue;\n\n    const f = obj.fields || {};\n    const id = String(f.id ?? obj.key ?? (key.split('::')[1] || ''));\n    const composite_id = `${cls}:${id}`;\n    if (seen.has(composite_id)) continue;  // dedupe antar items\n    seen.add(composite_id);\n\n    const html = f.description || '';\n    const text = htmlToText(html);\n\n    out.push({\n      json: {\n        // identitas untuk mapping & checkpoint\n        itop_class: cls,                 // \"Incident\" / \"UserRequest\"\n        itop_id: id,                     // e.g. \"6\"\n        itop_ref: f.ref || '',           // e.g. \"I-000006\" / \"R-000004\"\n        composite_id,                    // e.g. \"Incident:6\"\n        \n        service_name: f.servicesubcategory_name,\n        title: f.title || '',\n        description_html: html,\n        description_text: text,\n        resolution: f.solution || null,\n        status: f.status || f.status || '',\n        start_date: f.start_date || null,\n        last_update: f.last_update || null,\n        urgency: f.urgency || null,\n        org_id: String(f.org_id || ''),\n        org_name: f.org_name || (f.org_id_friendlyname || '')\n      }\n    });\n  }\n}\n\nreturn out;\n"
        },
        "position": [
          2304,
          240
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "ff33c293-df83-4149-ab59-e33ca79c9117",
        "name": "Delete Ticket iTop",
        "parameters": {
          "bodyParameters": {
            "parameters": [
              {
                "name": "version",
                "value": "1.3"
              },
              {
                "name": "auth_user",
                "value": "n8nautomation"
              },
              {
                "name": "auth_pwd",
                "value": "Passw0rd!"
              },
              {
                "name": "json_data",
                "value": "={\n   \"operation\": \"core/delete\",\n   \"comment\": \"Cleanup from TheHive\",\n   \"class\": \"Incident\",\n   \"key\":\n   {\n      \"ref\": \"{{ $json.itop_ref }}\"\n   },\n   \"simulate\": false\n}"
              }
            ]
          },
          "contentType": "multipart-form-data",
          "method": "POST",
          "options": {
            "allowUnauthorizedCerts": true
          },
          "sendBody": true,
          "url": "https://servicedesk.satnusa.com/webservices/rest.php"
        },
        "position": [
          2080,
          448
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "id": "3a25bc57-4bfa-480e-aca9-aa3ba8762256",
        "name": "Delete Checkpoint",
        "parameters": {
          "operation": "executeQuery",
          "options": {
            "queryReplacement": "={{ $('Switch').item.json.thehive_id }},{{ $('Switch').item.json.itop_ref }}"
          },
          "query": "DELETE FROM case_itop_sync\nWHERE thehive_id = $1 OR itop_ref = $2;\n"
        },
        "position": [
          2304,
          448
        ],
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6
      },
      {
        "id": "93bdae16-d0e6-4048-83fd-0bbc222dfb5d",
        "name": "Check if iTop Exists",
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "efd57f42-e949-4054-a2f5-346a0cc629d6",
                "leftValue": "={{ $('Hash Data').item.json.event }}",
                "operator": {
                  "operation": "equals",
                  "type": "string"
                },
                "rightValue": "=case_delete"
              },
              {
                "id": "39b7a081-7f84-42e9-b195-4fac136a16ef",
                "leftValue": "={{ $json.already_sent }}",
                "operator": {
                  "operation": "false",
                  "singleValue": true,
                  "type": "boolean"
                },
                "rightValue": "null"
              }
            ],
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            }
          },
          "options": {}
        },
        "position": [
          960,
          352
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2
      },
      {
        "id": "837785ac-e46d-4b5d-8da5-6d174dbb6bd4",
        "name": "No Operation, do nothing (2)",
        "parameters": {},
        "position": [
          1200,
          560
        ],
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1
      },
      {
        "id": "f0798d38-89b5-4eb0-a5be-24bf96334204",
        "name": "No Operation, do nothing (3)",
        "parameters": {},
        "position": [
          -128,
          560
        ],
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1
      },
      {
        "id": "fe164b36-6774-4b72-9513-f27d6d5f109b",
        "name": "Sticky Note",
        "parameters": {
          "color": 4,
          "content": "## Trigger and Filtering\nSetiap Case yang masuk di Filter berdasarkan statusnya,\nuntuk menghindari Spam tiket di iTop",
          "height": 416,
          "width": 1104
        },
        "position": [
          -1056,
          304
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "e8de07f0-a682-4cfd-b851-1248159bc99a",
        "name": "Filter",
        "parameters": {
          "conditions": {
            "combinator": "or",
            "conditions": [
              {
                "id": "bda8e0e5-7e8e-4f0f-a5c4-cae93217fb22",
                "leftValue": "={{ $json.body.context.stage }}",
                "operator": {
                  "name": "filter.operator.equals",
                  "operation": "equals",
                  "type": "string"
                },
                "rightValue": "InProgress"
              },
              {
                "id": "f6e8876a-5760-46ff-9585-2790e8538ebe",
                "leftValue": "={{ $json.body.context.stage }}",
                "operator": {
                  "name": "filter.operator.equals",
                  "operation": "equals",
                  "type": "string"
                },
                "rightValue": "Closed"
              },
              {
                "id": "8f10e7fb-4868-4622-94cb-9deca219426b",
                "leftValue": "={{ $json.body.action }}",
                "operator": {
                  "name": "filter.operator.equals",
                  "operation": "equals",
                  "type": "string"
                },
                "rightValue": "delete"
              }
            ],
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            }
          },
          "options": {}
        },
        "position": [
          -544,
          464
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2
      },
      {
        "id": "6459a01e-4e24-4f72-a94c-8b754e767eff",
        "name": "Sticky Note1",
        "parameters": {
          "color": 5,
          "content": "### Case yang masuk akan di normalisasikan dulu formatnya sebelum dimasukkan ke template",
          "height": 272,
          "width": 256
        },
        "position": [
          -208,
          240
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "102c5594-acf4-45ab-8486-a976eedbf834",
        "name": "Sticky Note2",
        "parameters": {
          "color": 4,
          "content": "### Case yang sudah dinormalisasi akan masuk ke template sesuai dengan agentnya",
          "height": 1040,
          "width": 496
        },
        "position": [
          64,
          -128
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "43972484-6645-47b7-b4b9-7652d03bd0be",
        "name": "Sticky Note3",
        "parameters": {
          "color": 5,
          "content": "## Hash and Compare\nSetelah template di apply, data akan di hash untuk dicek dan dibandingkan dengan hash sebelumnya (jika update)",
          "height": 288,
          "width": 400
        },
        "position": [
          512,
          224
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "fc7b9517-e4f5-412a-86e6-59098c5c50fd",
        "name": "Sticky Note4",
        "parameters": {
          "color": 4,
          "content": "## If Condition\njika tiket dari case belum pernah dibuat, maka akan lanjut ke next step, namun jika tiket dari case belum pernah dibuat DAN status case adalah 'case_delete', maka no operation.",
          "height": 496,
          "width": 464
        },
        "position": [
          928,
          224
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "b07e4d58-6232-43b3-8ad6-3158b2a6e9c6",
        "name": "Sticky Note5",
        "parameters": {
          "color": 5,
          "content": "## Decide Path\nBerdasarkan status, hash comparison, dan stage, disini akan ditentukan tiket akan masuk ke jalur mana, apakah create, update, delete, atau noop.",
          "height": 336,
          "width": 576
        },
        "position": [
          1408,
          224
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "93b9f05e-a96d-45e7-bba7-ae37e7e09710",
        "name": "Sticky Note6",
        "parameters": {
          "color": 5,
          "content": "## Create Path\ndisini, case dari TheHive akan langsung dikirim ke iTop, kemudian output dari iTop akan di filter untuk diambil data-data yang diperlukan untuk di hash, terakhir akan dibuat checkpoint ke database berdasarkan id dan hash dari masing masing iTop dan TheHive.",
          "height": 128,
          "width": 896
        },
        "position": [
          2960,
          32
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "8a4132d3-0065-4fa7-a515-31e1eff7fc13",
        "name": "Sticky Note7",
        "parameters": {
          "color": 4,
          "content": "## Update Path\ndisini, case dari TheHive akan langsung Update ke iTop, kemudian output dari iTop akan di filter untuk diambil data-data yang diperlukan untuk di hash, terakhir akan meng-update checkpoint di database berdasarkan id dan hash dari masing masing iTop dan TheHive.",
          "height": 128,
          "width": 896
        },
        "position": [
          2960,
          224
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "e1944072-1de2-4191-9e02-3ad6e16f4f52",
        "name": "Sticky Note8",
        "parameters": {
          "color": 3,
          "content": "## Delete Path\ndisini, case dari TheHive yang dihapus akan langsung dihapus juga di iTop, kemudian data checkpoint yang ada di Database juga akan di hapus.",
          "height": 128,
          "width": 432
        },
        "position": [
          2496,
          432
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "ade40b4b-f0e8-485f-848d-acd7ba193844",
        "name": "Sticky Note9",
        "parameters": {
          "color": 7,
          "content": "## NoOp Path\njika tidak ada kondisi yang dipenuhi, maka case akan masuk ke path ini",
          "height": 96,
          "width": 352
        },
        "position": [
          2272,
          640
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "cef045ae-6474-4087-bda6-f27ff38e0771",
        "name": "Extract Login",
        "parameters": {
          "jsCode": "const login = $input.first().json.body.object._updatedBy || $input.first().json.body._createdBy;\nreturn [{ json: { login } }];\n"
        },
        "position": [
          -976,
          80
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "a8024433-c58d-4dd0-bd22-4da7acc1e6fb",
        "name": "friendlyName",
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2f762a13-e32f-4aea-ab11-66699aebfa32",
                "name": "friendlyName",
                "type": "string",
                "value": "={{ $json.name }}"
              }
            ]
          },
          "options": {}
        },
        "position": [
          -528,
          80
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      },
      {
        "id": "644b5e5c-0fd3-4522-a204-c17eedcc6966",
        "name": "List Users in Org",
        "parameters": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 7UV19Oj+fgu9MwZ5aragqGiumwI89kal"
              }
            ]
          },
          "jsonBody": "={\n  \"query\": [\n    {\n      \"_name\": \"listOrganisation\"\n    },\n    {\n      \"_name\": \"filter\",\n      \"_eq\": {\n        \"_field\": \"name\",\n        \"_value\": \"PT Sat Nusapersada Tbk\"\n      }\n    },\n    {\n      \"_name\": \"users\"\n    },\n    {\n      \"_name\": \"filter\",\n      \"_eq\": {\n        \"_field\": \"login\",\n        \"_value\": \"{{ $json.login }}\"\n      }\n    },\n    {\n      \"_name\": \"page\",\n      \"from\": 0,\n      \"to\": 100\n    }\n  ]\n}",
          "method": "POST",
          "options": {},
          "sendBody": true,
          "sendHeaders": true,
          "specifyBody": "json",
          "url": "http://192.168.13.202:9000/api/v1/query"
        },
        "position": [
          -752,
          80
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "id": "fd306289-136f-4692-b2c0-b8e9c4abf8d2",
        "name": "Sticky Note10",
        "parameters": {
          "color": 5,
          "content": "## Get Friendly Name",
          "height": 288,
          "width": 704
        },
        "position": [
          -1056,
          -16
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "897735e3-788c-41cb-9121-784cb2551b08",
        "name": "Merge TheHive Data",
        "parameters": {
          "combineBy": "combineByPosition",
          "mode": "combine",
          "options": {}
        },
        "position": [
          -736,
          464
        ],
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2
      },
      {
        "id": "22fa8bf0-420e-4fe9-b333-1e500d10db6f",
        "name": "More Filter",
        "parameters": {
          "conditions": {
            "combinator": "or",
            "conditions": [
              {
                "id": "4d1cb7d6-5c43-421d-add8-a793f37314a3",
                "leftValue": "={{ $json.friendlyName }}",
                "operator": {
                  "operation": "notEquals",
                  "type": "string"
                },
                "rightValue": "=SOC Lead"
              },
              {
                "id": "0ece494f-40a9-4a66-a11f-40421c65626a",
                "leftValue": "={{ $json.body.context.assignee }}",
                "operator": {
                  "operation": "notEquals",
                  "type": "string"
                },
                "rightValue": "soc@satnusa.lab.com"
              },
              {
                "id": "5bfed819-64ac-4f4e-8a34-2ee93a6ab0b8",
                "leftValue": "={{ $json.body.object._updatedBy }}",
                "operator": {
                  "operation": "notEquals",
                  "type": "string"
                },
                "rightValue": "soc@satnusa.lab.com"
              }
            ],
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            }
          },
          "options": {}
        },
        "position": [
          -336,
          384
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3
      },
      {
        "id": "2fd6b964-e1f5-4d68-9a7a-fba2552cadd2",
        "name": "TheHive Trigger1",
        "parameters": {
          "events": [
            "case_update",
            "case_delete"
          ],
          "options": {}
        },
        "position": [
          -960,
          464
        ],
        "type": "n8n-nodes-base.theHiveProjectTrigger",
        "typeVersion": 1,
        "webhookId": "2de00e05-afe4-4268-8bf1-2a2021e8122b"
      },
      {
        "id": "7d68fa6a-6928-425a-a47a-1a96d6cad28e",
        "name": "Search observables",
        "parameters": {
          "caseId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.case.id }}"
          },
          "operation": "search",
          "options": {},
          "resource": "observable",
          "searchIn": "case"
        },
        "position": [
          112,
          -32
        ],
        "type": "n8n-nodes-base.theHiveProject",
        "typeVersion": 1
      }
    ],
    "pinData": {
      "TheHive Trigger1": [
        {
          "json": {
            "body": {
              "_createdAt": 1770005600567,
              "_createdBy": "yufi.rahmadhani@satnusa.com",
              "_id": "~1321697384",
              "_type": "Audit",
              "action": "update",
              "context": {
                "_createdAt": 1770000927430,
                "_createdBy": "soc@satnusa.lab.com",
                "_id": "~2011156712",
                "_type": "Case",
                "_updatedAt": 1770005600566,
                "_updatedBy": "yufi.rahmadhani@satnusa.com",
                "alertDate": 1770000921646,
                "alertImportedDate": 1770000927399,
                "alertInProgressDate": 1770000927399,
                "alertNewDate": 1770000921646,
                "assignee": "ardiansyah@satnusa.com",
                "customFieldValues": {
                  "description": "Berdasarkan log dari alert tersebut berasal dari ip external dan terdeteksi memiliki reputasi yang buruk ketika di periksa di beberapa platform seperti AbuseIPDB, VirusTotal. pada log juga menunjukkan bahwa IP tersebut melakukan request untuk memeriksa file sesitif yaitu file dengan extensi file .php dan lainnya, namun request ini gagal dengan respon 404 (file not found). Hal ini dapat membahayakan sistem jika file sensitif di temukan oleh attacker.   Rekomendasi mitigasi:       Lakukan block file dengan ekstensi sensitif agar tidak dapat di akses oleh attacker     Block IP attacker yang mencurigakan dan memiliki reputasi buruk     Lakukan hardening pada sistem.   Refer to: FAQ - Multiple web server 400 error codes from same source ip",
                  "service-subcategory": "Inc - Web Application Vulnerability"
                },
                "customFields": [
                  {
                    "_id": "description:Berdasarkan log dari alert tersebut berasal dari ip external dan terdeteksi memiliki reputasi yang buruk ketika di periksa di beberapa platform seperti AbuseIPDB, VirusTotal. pada log juga menunjukkan bahwa IP tersebut melakukan request untuk memeriksa file sesitif yaitu file dengan extensi file .php dan lainnya, namun request ini gagal dengan respon 404 (file not found). Hal ini dapat membahayakan sistem jika file sensitif di temukan oleh attacker.   Rekomendasi mitigasi:       Lakukan block file dengan ekstensi sensitif agar tidak dapat di akses oleh attacker     Block IP attacker yang mencurigakan dan memiliki reputasi buruk     Lakukan hardening pada sistem.   Refer to: FAQ - Multiple web server 400 error codes from same source ip",
                    "name": "description",
                    "order": 0,
                    "type": "string",
                    "value": "Berdasarkan log dari alert tersebut berasal dari ip external dan terdeteksi memiliki reputasi yang buruk ketika di periksa di beberapa platform seperti AbuseIPDB, VirusTotal. pada log juga menunjukkan bahwa IP tersebut melakukan request untuk memeriksa file sesitif yaitu file dengan extensi file .php dan lainnya, namun request ini gagal dengan respon 404 (file not found). Hal ini dapat membahayakan sistem jika file sensitif di temukan oleh attacker.   Rekomendasi mitigasi:       Lakukan block file dengan ekstensi sensitif agar tidak dapat di akses oleh attacker     Block IP attacker yang mencurigakan dan memiliki reputasi buruk     Lakukan hardening pada sistem.   Refer to: FAQ - Multiple web server 400 error codes from same source ip"
                  },
                  {
                    "_id": "service-subcategory:Inc - Web Application Vulnerability",
                    "name": "service-subcategory",
                    "order": 0,
                    "type": "string",
                    "value": "Inc - Web Application Vulnerability"
                  }
                ],
                "description": "### Timestamp\n| key | val |\n| ------ | ------ |\n| **timestamp** | 2026-01-31 20:30:42 |\n### Rule.level\n| key | val |\n| ------ | ------ |\n| **rule.level** | 10 |\n### Rule.description\n| key | val |\n| ------ | ------ |\n| **rule.description** | Multiple web server 400 error codes from same source ip. |\n### Rule.id\n| key | val |\n| ------ | ------ |\n| **rule.id** | 31151 |\n### Rule.mitre.id[0]\n| key | val |\n| ------ | ------ |\n| **rule.mitre.id[0]** | T1595.002 |\n### Rule.mitre.tactic[0]\n| key | val |\n| ------ | ------ |\n| **rule.mitre.tactic[0]** | Reconnaissance |\n### Rule.mitre.technique[0]\n| key | val |\n| ------ | ------ |\n| **rule.mitre.technique[0]** | Vulnerability Scanning |\n### Rule.frequency\n| key | val |\n| ------ | ------ |\n| **rule.frequency** | 14 |\n### Rule.firedtimes\n| key | val |\n| ------ | ------ |\n| **rule.firedtimes** | 1 |\n### Rule.mail\n| key | val |\n| ------ | ------ |\n| **rule.mail** | False |\n### Rule.groups[0]\n| key | val |\n| ------ | ------ |\n| **rule.groups[0]** | web |\n### Rule.groups[1]\n| key | val |\n| ------ | ------ |\n| **rule.groups[1]** | accesslog |\n### Rule.groups[2]\n| key | val |\n| ------ | ------ |\n| **rule.groups[2]** | web_scan |\n### Rule.groups[3]\n| key | val |\n| ------ | ------ |\n| **rule.groups[3]** | recon |\n### Rule.pci_dss[0]\n| key | val |\n| ------ | ------ |\n| **rule.pci_dss[0]** | 6.5 |\n### Rule.pci_dss[1]\n| key | val |\n| ------ | ------ |\n| **rule.pci_dss[1]** | 11.4 |\n### Rule.gdpr[0]\n| key | val |\n| ------ | ------ |\n| **rule.gdpr[0]** | IV_35.7.d |\n### Rule.nist_800_53[0]\n| key | val |\n| ------ | ------ |\n| **rule.nist_800_53[0]** | SA.11 |\n### Rule.nist_800_53[1]\n| key | val |\n| ------ | ------ |\n| **rule.nist_800_53[1]** | SI.4 |\n### Rule.tsc[0]\n| key | val |\n| ------ | ------ |\n| **rule.tsc[0]** | CC6.6 |\n### Rule.tsc[1]\n| key | val |\n| ------ | ------ |\n| **rule.tsc[1]** | CC7.1 |\n### Rule.tsc[2]\n| key | val |\n| ------ | ------ |\n| **rule.tsc[2]** | CC8.1 |\n### Rule.tsc[3]\n| key | val |\n| ------ | ------ |\n| **rule.tsc[3]** | CC6.1 |\n### Rule.tsc[4]\n| key | val |\n| ------ | ------ |\n| **rule.tsc[4]** | CC6.8 |\n### Rule.tsc[5]\n| key | val |\n| ------ | ------ |\n| **rule.tsc[5]** | CC7.2 |\n### Rule.tsc[6]\n| key | val |\n| ------ | ------ |\n| **rule.tsc[6]** | CC7.3 |\n### Agent.id\n| key | val |\n| ------ | ------ |\n| **agent.id** | 099 |\n### Agent.name\n| key | val |\n| ------ | ------ |\n| **agent.name** | mail03.satnusa.com |\n### Agent.ip\n| key | val |\n| ------ | ------ |\n| **agent.ip** | 192.168.88.61 |\n### Manager.name\n| key | val |\n| ------ | ------ |\n| **manager.name** | wazuh.manager |\n### Id\n| key | val |\n| ------ | ------ |\n| **id** | 1769866242.2285001914 |\n### Previous_output\n| key | val |\n| ------ | ------ |\n| **previous_output** | 150.241.66.156 - - [31/Jan/2026:20:30:41 +0700] \"HEAD /New HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:41 +0700] \"HEAD /new HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:41 +0700] \"HEAD /oldsite HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:41 +0700] \"HEAD /OLD HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:41 +0700] \"HEAD /Old HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:40 +0700] \"HEAD /old HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:40 +0700] \"HEAD /WP HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:40 +0700] \"HEAD /Wp HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:40 +0700] \"HEAD /wp HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:40 +0700] \"HEAD /WordPress HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:40 +0700] \"HEAD /WORDPRESS HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\" |\n### Full_log\n| key | val |\n| ------ | ------ |\n| **full_log** | 150.241.66.156 - - [31/Jan/2026:20:30:41 +0700] \"HEAD /NEW HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\" |\n### Decoder.name\n| key | val |\n| ------ | ------ |\n| **decoder.name** | web-accesslog |\n### Data.protocol\n| key | val |\n| ------ | ------ |\n| **data.protocol** | HEAD |\n### Data.srcip\n| key | val |\n| ------ | ------ |\n| **data.srcip** | 150.241.66.156 |\n### Data.id\n| key | val |\n| ------ | ------ |\n| **data.id** | 404 |\n### Data.url\n| key | val |\n| ------ | ------ |\n| **data.url** | /NEW |\n### Location\n| key | val |\n| ------ | ------ |\n| **location** | /var/log/apache2/access.log |\n",
                "extraData": {},
                "flag": false,
                "inProgressDate": 1770003721090,
                "newDate": 1770000927399,
                "number": 5186,
                "pap": 2,
                "papLabel": "AMBER",
                "severity": 2,
                "severityLabel": "MEDIUM",
                "stage": "InProgress",
                "startDate": 1770000927399,
                "status": "InProgress",
                "tags": [
                  "HTTP 400",
                  "Application Security",
                  "hit=1",
                  "agent_id=099",
                  "agent_ip=192.168.88.61",
                  "rule=31151",
                  "Web",
                  "agent_name=mail03.satnusa.com",
                  "reconnaissance",
                  "~1724260448",
                  "network-security",
                  "wazuh"
                ],
                "timeToAcknowledge": 5753,
                "timeToDetect": 0,
                "timeToQualify": 5753,
                "timeToTriage": 5753,
                "title": " Multiple web server 400 error codes from same source ip.",
                "tlp": 2,
                "tlpLabel": "AMBER",
                "userPermissions": []
              },
              "details": {
                "stage": "InProgress",
                "status": "InProgress"
              },
              "object": {
                "_createdAt": 1770000927430,
                "_createdBy": "soc@satnusa.lab.com",
                "_id": "~2011156712",
                "_type": "Case",
                "_updatedAt": 1770005600566,
                "_updatedBy": "yufi.rahmadhani@satnusa.com",
                "alertDate": 1770000921646,
                "alertImportedDate": 1770000927399,
                "alertInProgressDate": 1770000927399,
                "alertNewDate": 1770000921646,
                "assignee": "ardiansyah@satnusa.com",
                "customFieldValues": {
                  "description": "Berdasarkan log dari alert tersebut berasal dari ip external dan terdeteksi memiliki reputasi yang buruk ketika di periksa di beberapa platform seperti AbuseIPDB, VirusTotal. pada log juga menunjukkan bahwa IP tersebut melakukan request untuk memeriksa file sesitif yaitu file dengan extensi file .php dan lainnya, namun request ini gagal dengan respon 404 (file not found). Hal ini dapat membahayakan sistem jika file sensitif di temukan oleh attacker.   Rekomendasi mitigasi:       Lakukan block file dengan ekstensi sensitif agar tidak dapat di akses oleh attacker     Block IP attacker yang mencurigakan dan memiliki reputasi buruk     Lakukan hardening pada sistem.   Refer to: FAQ - Multiple web server 400 error codes from same source ip",
                  "service-subcategory": "Inc - Web Application Vulnerability"
                },
                "customFields": [
                  {
                    "_id": "description:Berdasarkan log dari alert tersebut berasal dari ip external dan terdeteksi memiliki reputasi yang buruk ketika di periksa di beberapa platform seperti AbuseIPDB, VirusTotal. pada log juga menunjukkan bahwa IP tersebut melakukan request untuk memeriksa file sesitif yaitu file dengan extensi file .php dan lainnya, namun request ini gagal dengan respon 404 (file not found). Hal ini dapat membahayakan sistem jika file sensitif di temukan oleh attacker.   Rekomendasi mitigasi:       Lakukan block file dengan ekstensi sensitif agar tidak dapat di akses oleh attacker     Block IP attacker yang mencurigakan dan memiliki reputasi buruk     Lakukan hardening pada sistem.   Refer to: FAQ - Multiple web server 400 error codes from same source ip",
                    "name": "description",
                    "order": 0,
                    "type": "string",
                    "value": "Berdasarkan log dari alert tersebut berasal dari ip external dan terdeteksi memiliki reputasi yang buruk ketika di periksa di beberapa platform seperti AbuseIPDB, VirusTotal. pada log juga menunjukkan bahwa IP tersebut melakukan request untuk memeriksa file sesitif yaitu file dengan extensi file .php dan lainnya, namun request ini gagal dengan respon 404 (file not found). Hal ini dapat membahayakan sistem jika file sensitif di temukan oleh attacker.   Rekomendasi mitigasi:       Lakukan block file dengan ekstensi sensitif agar tidak dapat di akses oleh attacker     Block IP attacker yang mencurigakan dan memiliki reputasi buruk     Lakukan hardening pada sistem.   Refer to: FAQ - Multiple web server 400 error codes from same source ip"
                  },
                  {
                    "_id": "service-subcategory:Inc - Web Application Vulnerability",
                    "name": "service-subcategory",
                    "order": 0,
                    "type": "string",
                    "value": "Inc - Web Application Vulnerability"
                  }
                ],
                "description": "### Timestamp\n| key | val |\n| ------ | ------ |\n| **timestamp** | 2026-01-31 20:30:42 |\n### Rule.level\n| key | val |\n| ------ | ------ |\n| **rule.level** | 10 |\n### Rule.description\n| key | val |\n| ------ | ------ |\n| **rule.description** | Multiple web server 400 error codes from same source ip. |\n### Rule.id\n| key | val |\n| ------ | ------ |\n| **rule.id** | 31151 |\n### Rule.mitre.id[0]\n| key | val |\n| ------ | ------ |\n| **rule.mitre.id[0]** | T1595.002 |\n### Rule.mitre.tactic[0]\n| key | val |\n| ------ | ------ |\n| **rule.mitre.tactic[0]** | Reconnaissance |\n### Rule.mitre.technique[0]\n| key | val |\n| ------ | ------ |\n| **rule.mitre.technique[0]** | Vulnerability Scanning |\n### Rule.frequency\n| key | val |\n| ------ | ------ |\n| **rule.frequency** | 14 |\n### Rule.firedtimes\n| key | val |\n| ------ | ------ |\n| **rule.firedtimes** | 1 |\n### Rule.mail\n| key | val |\n| ------ | ------ |\n| **rule.mail** | False |\n### Rule.groups[0]\n| key | val |\n| ------ | ------ |\n| **rule.groups[0]** | web |\n### Rule.groups[1]\n| key | val |\n| ------ | ------ |\n| **rule.groups[1]** | accesslog |\n### Rule.groups[2]\n| key | val |\n| ------ | ------ |\n| **rule.groups[2]** | web_scan |\n### Rule.groups[3]\n| key | val |\n| ------ | ------ |\n| **rule.groups[3]** | recon |\n### Rule.pci_dss[0]\n| key | val |\n| ------ | ------ |\n| **rule.pci_dss[0]** | 6.5 |\n### Rule.pci_dss[1]\n| key | val |\n| ------ | ------ |\n| **rule.pci_dss[1]** | 11.4 |\n### Rule.gdpr[0]\n| key | val |\n| ------ | ------ |\n| **rule.gdpr[0]** | IV_35.7.d |\n### Rule.nist_800_53[0]\n| key | val |\n| ------ | ------ |\n| **rule.nist_800_53[0]** | SA.11 |\n### Rule.nist_800_53[1]\n| key | val |\n| ------ | ------ |\n| **rule.nist_800_53[1]** | SI.4 |\n### Rule.tsc[0]\n| key | val |\n| ------ | ------ |\n| **rule.tsc[0]** | CC6.6 |\n### Rule.tsc[1]\n| key | val |\n| ------ | ------ |\n| **rule.tsc[1]** | CC7.1 |\n### Rule.tsc[2]\n| key | val |\n| ------ | ------ |\n| **rule.tsc[2]** | CC8.1 |\n### Rule.tsc[3]\n| key | val |\n| ------ | ------ |\n| **rule.tsc[3]** | CC6.1 |\n### Rule.tsc[4]\n| key | val |\n| ------ | ------ |\n| **rule.tsc[4]** | CC6.8 |\n### Rule.tsc[5]\n| key | val |\n| ------ | ------ |\n| **rule.tsc[5]** | CC7.2 |\n### Rule.tsc[6]\n| key | val |\n| ------ | ------ |\n| **rule.tsc[6]** | CC7.3 |\n### Agent.id\n| key | val |\n| ------ | ------ |\n| **agent.id** | 099 |\n### Agent.name\n| key | val |\n| ------ | ------ |\n| **agent.name** | mail03.satnusa.com |\n### Agent.ip\n| key | val |\n| ------ | ------ |\n| **agent.ip** | 192.168.88.61 |\n### Manager.name\n| key | val |\n| ------ | ------ |\n| **manager.name** | wazuh.manager |\n### Id\n| key | val |\n| ------ | ------ |\n| **id** | 1769866242.2285001914 |\n### Previous_output\n| key | val |\n| ------ | ------ |\n| **previous_output** | 150.241.66.156 - - [31/Jan/2026:20:30:41 +0700] \"HEAD /New HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:41 +0700] \"HEAD /new HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:41 +0700] \"HEAD /oldsite HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:41 +0700] \"HEAD /OLD HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:41 +0700] \"HEAD /Old HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:40 +0700] \"HEAD /old HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:40 +0700] \"HEAD /WP HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:40 +0700] \"HEAD /Wp HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:40 +0700] \"HEAD /wp HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:40 +0700] \"HEAD /WordPress HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\"\n150.241.66.156 - - [31/Jan/2026:20:30:40 +0700] \"HEAD /WORDPRESS HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\" |\n### Full_log\n| key | val |\n| ------ | ------ |\n| **full_log** | 150.241.66.156 - - [31/Jan/2026:20:30:41 +0700] \"HEAD /NEW HTTP/1.1\" 404 140 \"-\" \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36\" |\n### Decoder.name\n| key | val |\n| ------ | ------ |\n| **decoder.name** | web-accesslog |\n### Data.protocol\n| key | val |\n| ------ | ------ |\n| **data.protocol** | HEAD |\n### Data.srcip\n| key | val |\n| ------ | ------ |\n| **data.srcip** | 150.241.66.156 |\n### Data.id\n| key | val |\n| ------ | ------ |\n| **data.id** | 404 |\n### Data.url\n| key | val |\n| ------ | ------ |\n| **data.url** | /NEW |\n### Location\n| key | val |\n| ------ | ------ |\n| **location** | /var/log/apache2/access.log |\n",
                "extraData": {},
                "flag": false,
                "inProgressDate": 1770003721090,
                "newDate": 1770000927399,
                "number": 5186,
                "pap": 2,
                "papLabel": "AMBER",
                "severity": 2,
                "severityLabel": "MEDIUM",
                "stage": "InProgress",
                "startDate": 1770000927399,
                "status": "InProgress",
                "tags": [
                  "HTTP 400",
                  "Application Security",
                  "hit=1",
                  "agent_id=099",
                  "agent_ip=192.168.88.61",
                  "rule=31151",
                  "Web",
                  "agent_name=mail03.satnusa.com",
                  "reconnaissance",
                  "~1724260448",
                  "network-security",
                  "wazuh"
                ],
                "timeToAcknowledge": 5753,
                "timeToDetect": 0,
                "timeToQualify": 5753,
                "timeToTriage": 5753,
                "title": " Multiple web server 400 error codes from same source ip.",
                "tlp": 2,
                "tlpLabel": "AMBER",
                "userPermissions": []
              },
              "objectId": "~2011156712",
              "objectType": "Case",
              "organisation": {
                "organisation": "PT Sat Nusapersada Tbk",
                "organisationId": "~4087912"
              },
              "requestId": "e75bab1a05ccfb96:-7b1eafad:19c1c13f764:-8000:36255",
              "rootId": "~2011156712"
            },
            "event": "case_update",
            "headers": {
              "accept": "*/*",
              "connection": "close",
              "content-length": "19413",
              "content-type": "application/json",
              "host": "n8ninfrasec.satnusa.com",
              "user-agent": "AHC/2.1",
              "x-forwarded-for": "192.168.13.202",
              "x-forwarded-host": "n8ninfrasec.satnusa.com",
              "x-forwarded-prefix": "/",
              "x-forwarded-proto": "https",
              "x-forwarded-protocol": "https",
              "x-real-ip": "192.168.13.202"
            },
            "query": {}
          }
        }
      ]
    },
    "settings": {
      "availableInMCP": false,
      "executionOrder": "v1"
    },
    "shared": [
      {
        "createdAt": "2026-02-25T01:21:41.101Z",
        "project": {
          "createdAt": "2026-02-05T03:42:57.879Z",
          "creatorId": "a8a031e5-324d-4510-8061-83d160c23002",
          "description": null,
          "icon": null,
          "id": "0yndx2RxYhns8Dri",
          "name": "Rex Lapis <rizki.rama1314@gmail.com>",
          "type": "personal",
          "updatedAt": "2026-02-05T03:48:24.838Z"
        },
        "projectId": "0yndx2RxYhns8Dri",
        "role": "workflow:owner",
        "updatedAt": "2026-02-25T01:21:41.101Z",
        "workflowId": "5bzKGQrxKUKitQX8ioxur"
      }
    ],
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-02-25T01:21:41.101Z",
    "versionCounter": 1,
    "versionId": "df998f5e-cc72-4bbb-b4dc-81006ffdb8d9"
  }
]
