workflows/_QxJ0DbrFXYg8xAVVFsz3.json
[
  {
    "active": false,
    "activeVersionId": null,
    "connections": {
      "Already Sent?": {
        "main": [
          [
            {
              "index": 0,
              "node": "Convert to HTML",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "No Operation, do nothing",
              "type": "main"
            }
          ]
        ]
      },
      "Check if Already Sent": {
        "main": [
          [
            {
              "index": 0,
              "node": "Merge",
              "type": "main"
            }
          ]
        ]
      },
      "Convert to HTML": {
        "main": [
          [
            {
              "index": 0,
              "node": "Create Ticket on iTop",
              "type": "main"
            }
          ]
        ]
      },
      "Create Ticket on iTop": {
        "main": [
          [
            {
              "index": 0,
              "node": "Normalize Structure",
              "type": "main"
            }
          ]
        ]
      },
      "Dojo Data Hash": {
        "main": [
          [
            {
              "index": 0,
              "node": "Check if Already Sent",
              "type": "main"
            },
            {
              "index": 1,
              "node": "Merge",
              "type": "main"
            }
          ]
        ]
      },
      "Extract Findings": {
        "main": [
          [
            {
              "index": 0,
              "node": "Dojo Data Hash",
              "type": "main"
            }
          ]
        ]
      },
      "Get List Findings": {
        "main": [
          [
            {
              "index": 0,
              "node": "Extract Findings",
              "type": "main"
            }
          ]
        ]
      },
      "Get List Products": {
        "main": [
          [
            {
              "index": 0,
              "node": "Get Product Name",
              "type": "main"
            }
          ]
        ]
      },
      "Get Product Name": {
        "main": [
          [
            {
              "index": 0,
              "node": "Get List Findings",
              "type": "main"
            }
          ]
        ]
      },
      "Hash ITop Ticket": {
        "main": [
          [
            {
              "index": 0,
              "node": "Checkpoint",
              "type": "main"
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "index": 0,
              "node": "Already Sent?",
              "type": "main"
            }
          ]
        ]
      },
      "Normalize Structure": {
        "main": [
          [
            {
              "index": 0,
              "node": "Pull ITop Data (For Hash)",
              "type": "main"
            }
          ]
        ]
      },
      "Pull ITop Data (For Hash)": {
        "main": [
          [
            {
              "index": 0,
              "node": "Separate the Tickets for Hash",
              "type": "main"
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "index": 0,
              "node": "Variable",
              "type": "main"
            }
          ]
        ]
      },
      "Separate the Tickets for Hash": {
        "main": [
          [
            {
              "index": 0,
              "node": "Hash ITop Ticket",
              "type": "main"
            }
          ]
        ]
      },
      "Variable": {
        "main": [
          [
            {
              "index": 0,
              "node": "Get List Products",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2026-02-25T01:25:29.721Z",
    "description": null,
    "id": "_QxJ0DbrFXYg8xAVVFsz3",
    "isArchived": false,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "name": "Delta",
    "nodes": [
      {
        "id": "65b03eba-4a91-4d1b-a858-04e1afd887e5",
        "name": "Schedule Trigger",
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "seconds"
              }
            ]
          }
        },
        "position": [
          96,
          96
        ],
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2
      },
      {
        "credentials": {
          "httpHeaderAuth": {
            "id": "A6tMSDD6p10RpAqy",
            "name": "Echo"
          }
        },
        "id": "0f23e88a-28af-496b-ade0-b57c19b3811b",
        "name": "Get List Products",
        "parameters": {
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "allowUnauthorizedCerts": true
          },
          "queryParameters": {
            "parameters": [
              {
                "name": "prod_type",
                "value": "3"
              }
            ]
          },
          "sendQuery": true,
          "url": "={{ $json.DD_URL + \"products\" }}"
        },
        "position": [
          544,
          96
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "credentials": {
          "httpHeaderAuth": {
            "id": "A6tMSDD6p10RpAqy",
            "name": "Echo"
          }
        },
        "id": "8c30d102-b49d-499a-98f5-198584b79ac4",
        "name": "Get List Findings",
        "parameters": {
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "allowUnauthorizedCerts": true
          },
          "queryParameters": {
            "parameters": [
              {
                "name": "product_name",
                "value": "={{ $json.product_name }}"
              },
              {
                "name": "verified",
                "value": "true"
              },
              {
                "name": "active",
                "value": "true"
              },
              {
                "name": "duplicate",
                "value": "false"
              }
            ]
          },
          "sendQuery": true,
          "url": "={{ $('Variable').item.json.DD_URL + \"findings\" }}"
        },
        "position": [
          992,
          96
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "id": "93694614-3e24-4dc8-b7bd-470da28e5793",
        "name": "Extract Findings",
        "parameters": {
          "jsCode": "// n8n Code node (JavaScript)\n// Input: array items, tiap item.json bisa berbentuk { count, results: [...] }\n// Output: satu item per finding (menyalin objek finding apa adanya)\n\nconst out = [];\n\nfor (const item of items) {\n  const payload = item.json;\n\n  // Normalisasi supaya aman kalau suatu saat berbentuk array juga\n  const buckets = Array.isArray(payload) ? payload : [payload];\n\n  for (const b of buckets) {\n    const list = Array.isArray(b?.results) ? b.results : [];\n\n    for (const f of list) {\n      if (f && typeof f === 'object') {\n        // Kasus umum: results berisi objek finding lengkap\n        out.push({ json: f });\n      } else {\n        // Fallback kalau results berisi angka ID saja\n        out.push({ json: { finding_id: Number(f) } });\n      }\n    }\n  }\n}\n\nreturn out.length ? out : [{ json: { note: 'no findings found' } }];\n"
        },
        "position": [
          1216,
          96
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "credentials": {
          "postgres": {
            "id": "WLvqHNDORXGk2KJ2",
            "name": "Charlie"
          }
        },
        "id": "892f249d-a3c3-411a-9390-8fffc64e031f",
        "name": "Check if Already Sent",
        "parameters": {
          "operation": "executeQuery",
          "options": {
            "queryReplacement": "={{ $json.id }}"
          },
          "query": "SELECT\n  $1::TEXT        AS finding_id,\n  EXISTS (\n    SELECT itop_ticket_ref\n    FROM dojo_itop_sync \n    WHERE finding_id = $1 ) AS already_sent;\n"
        },
        "position": [
          1648,
          96
        ],
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6
      },
      {
        "id": "8d7f95b2-7d4d-40d4-838e-ef9b5c046e4e",
        "name": "Already Sent?",
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "48fd1582-4271-404d-bb3d-e04f062f1fba",
                "leftValue": "={{ $json.already_sent }}",
                "operator": {
                  "operation": "false",
                  "singleValue": true,
                  "type": "boolean"
                },
                "rightValue": ""
              }
            ],
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            }
          },
          "options": {}
        },
        "position": [
          2096,
          80
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2
      },
      {
        "id": "089db941-90e2-4e52-8f47-669a1fc1777e",
        "name": "No Operation, do nothing",
        "parameters": {},
        "position": [
          2368,
          96
        ],
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1
      },
      {
        "id": "3ef159e5-33a4-4058-a483-492aed9c8bff",
        "name": "Variable",
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "bdc180a2-b67f-4720-bcdc-25e9827c11cc",
                "name": "DD_URL",
                "type": "string",
                "value": "https://vms.satnusa.com/api/v2/"
              },
              {
                "id": "5efef4d8-0a25-4b85-bac8-d83c5391a1fc",
                "name": "ITOP_API",
                "type": "string",
                "value": "https://servicedesk.satnusa.com/webservices/rest.php"
              },
              {
                "id": "49a6c0a3-e1af-49ee-8ab8-bcb19a387cbd",
                "name": "ITOP_VER",
                "type": "string",
                "value": "1.3"
              },
              {
                "id": "3f3b158a-ceb2-42f1-8d63-a7bd3d59f8c7",
                "name": "ITOP_USER",
                "type": "string",
                "value": "n8nautomation"
              },
              {
                "id": "1ae880dc-4e67-456d-8698-abec2aed8f2e",
                "name": "ITOP_PWD",
                "type": "string",
                "value": "Passw0rd!"
              }
            ]
          },
          "options": {}
        },
        "position": [
          320,
          96
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      },
      {
        "id": "e6bf8773-a479-46b4-baaa-0e57236c227a",
        "name": "Create Ticket on iTop",
        "parameters": {
          "bodyParameters": {
            "parameters": [
              {
                "name": "version",
                "value": "={{ $('Variable').first().json.ITOP_VER }}"
              },
              {
                "name": "auth_user",
                "value": "={{ $('Variable').first().json.ITOP_USER }}"
              },
              {
                "name": "auth_pwd",
                "value": "={{ $('Variable').first().json.ITOP_PWD }}"
              },
              {
                "name": "json_data",
                "value": "={\n  \"operation\": \"core/create\",\n  \"comment\": \"Synchronization from DefectDojo\",\n  \"class\": \"Incident\",\n  \"output_fields\": \"id, friendlyname\",\n  \"fields\": {\n    \"org_id\": \"SELECT Organization WHERE name = \\\"PT Sat Nusapersada Tbk\\\"\",\n    \"impact\": \"2\",\n    \"origin\": \"portal\",\n    \"urgency\": {{ JSON.stringify((() => {\n      const s = String($items('Already Sent?', 0, 0)[$itemIndex].json.severity || '').toLowerCase();\n      if (s === 'critical') return '1';\n      if (s === 'high')     return '2';\n      if (s === 'medium')   return '3';\n      return '4'; // default & 'low'\n    })()) }},\n    \"title\": {{ JSON.stringify($items('Already Sent?', 0, 0)[$itemIndex].json.title) }},\n    \"description\": {{ JSON.stringify($json.description_html) }},\n    \"public_log\":  {{ JSON.stringify($json.description_html) }},\n    \"service_id\": \"SELECT Service WHERE name = \\\"VAPT INFRASTRUCTURE APPLICATION\\\"\",\n    \"servicesubcategory_id\": \"SELECT ServiceSubcategory WHERE name = \\\"Vulnerability Assessment\\\"\",\n    \"caller_id\": {\n      \"friendlyname\": \"n8n automation\"\n    }\n  }\n}\n"
              }
            ]
          },
          "contentType": "form-urlencoded",
          "method": "POST",
          "options": {
            "allowUnauthorizedCerts": true
          },
          "sendBody": true,
          "url": "={{ $('Variable').first().json.ITOP_API }}"
        },
        "position": [
          544,
          544
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "id": "802eb753-2580-4a39-8024-a515483a9748",
        "name": "Normalize Structure",
        "parameters": {
          "jsCode": "// Function node\nconst out = [];\n\nfor (const item of items) {\n  const objs = item.json?.objects || {};\n  for (const obj of Object.values(objs)) {\n    out.push({\n      json: {\n        class: obj?.class ?? null,\n        friendlyname: obj?.fields?.friendlyname ?? null,\n      }\n    });\n  }\n}\n\nreturn out;\n"
        },
        "position": [
          768,
          544
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "c4d1830e-fce0-4289-8301-2161e98605fd",
        "name": "Pull ITop Data (For Hash)",
        "parameters": {
          "bodyParameters": {
            "parameters": [
              {
                "name": "version",
                "value": "={{ $('Variable').first().json.ITOP_VER }}"
              },
              {
                "name": "auth_user",
                "value": "={{ $('Variable').first().json.ITOP_USER }}"
              },
              {
                "name": "auth_pwd",
                "value": "={{ $('Variable').first().json.ITOP_PWD }}"
              },
              {
                "name": "json_data",
                "value": "={\n    \"operation\": \"core/get\",\n    \"class\": \"{{ $json.class }}\",\n    \"key\": \"SELECT {{ $json.class }} WHERE ref = \\\"{{ $json.friendlyname }}\\\"\",\n    \"output_fields\": \"*\"\n  }"
              }
            ]
          },
          "contentType": "form-urlencoded",
          "method": "POST",
          "options": {
            "allowUnauthorizedCerts": true
          },
          "sendBody": true,
          "url": "={{ $('Variable').first().json.ITOP_API }}"
        },
        "position": [
          992,
          544
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "id": "30711506-763e-4748-b63b-e97a92881995",
        "name": "Separate the Tickets for Hash",
        "parameters": {
          "jsCode": "// Flatten banyak items iTop -> 1 item per tiket (Incident/UserRequest)\nconst allowed = new Set(['Incident', 'UserRequest']);\nconst seen = new Set();          // buat dedupe kalau ada duplikasi\nconst out = [];\n\n// helper: HTML -> text sederhana\nfunction htmlToText(html = '') {\n  return String(html)\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<[^>]+>/g, '')\n    .replace(/\\r?\\n\\s*\\r?\\n/g, '\\n')\n    .trim();\n}\n\nfor (const it of items) {\n  const objs = it.json?.objects || {};\n  for (const [key, obj] of Object.entries(objs)) {\n    const cls = obj.class || (key.includes('::') ? key.split('::')[0] : 'Unknown');\n    if (!allowed.has(cls)) continue;\n\n    const f = obj.fields || {};\n    const id = String(f.id ?? obj.key ?? (key.split('::')[1] || ''));\n    const composite_id = `${cls}:${id}`;\n    if (seen.has(composite_id)) continue;  // dedupe antar items\n    seen.add(composite_id);\n\n    const html = f.description || '';\n    const text = htmlToText(html);\n\n    out.push({\n      json: {\n        // identitas untuk mapping & checkpoint\n        itop_class: cls,                 // \"Incident\" / \"UserRequest\"\n        itop_id: id,                     // e.g. \"6\"\n        itop_ref: f.ref || '',           // e.g. \"I-000006\" / \"R-000004\"\n        composite_id,                    // e.g. \"Incident:6\"\n        \n        service_name: f.servicesubcategory_name,\n        title: f.title || '',\n        description_html: html,\n        description_text: text,\n        status: f.status || f.status || '',\n        start_date: f.start_date || null,\n        last_update: f.last_update || null,\n        urgency: f.urgency || null,\n\n        // caller & org (berguna buat bikin ticket di osTicket)\n        caller_id: String(f.caller_id || ''),\n        caller_name: f.caller_id_friendlyname || (f.caller_name || ''),\n        org_id: String(f.org_id || ''),\n        org_name: f.org_name || (f.org_id_friendlyname || '')\n      }\n    });\n  }\n}\n\nreturn out;\n"
        },
        "position": [
          1216,
          544
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "b99ac7a4-cce7-46a2-9f4c-16614ab7aad8",
        "name": "Hash ITop Ticket",
        "parameters": {
          "value": "={{ JSON.stringify($json) }}\n"
        },
        "position": [
          1424,
          544
        ],
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 1
      },
      {
        "credentials": {
          "postgres": {
            "id": "WLvqHNDORXGk2KJ2",
            "name": "Charlie"
          }
        },
        "id": "e2e80f51-ff23-4801-ab7d-69a81bab4f6d",
        "name": "Checkpoint",
        "parameters": {
          "operation": "executeQuery",
          "options": {},
          "query": "INSERT INTO dojo_itop_sync (finding_id, itop_ticket_ref, dd_hash, itop_hash)\nVALUES ('{{ $items('Already Sent?', 0, 0)[$itemIndex].json.id }}', '{{ $json.itop_ref }}', '{{ $items('Already Sent?', 0, 0)[$itemIndex].json.dd_hash }}', '{{ $json.data }}');"
        },
        "position": [
          1648,
          544
        ],
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6
      },
      {
        "id": "ddac961d-cdd5-4b4b-a586-f18739037d6c",
        "name": "Dojo Data Hash",
        "parameters": {
          "dataPropertyName": "dd_hash",
          "value": "={{ $json.display_status + ', ' + $json.id }}"
        },
        "position": [
          1440,
          96
        ],
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 1
      },
      {
        "id": "970fec14-a118-4cfc-9eb0-e77a753c7863",
        "name": "Convert to HTML",
        "parameters": {
          "jsCode": "// Ambil dan rapikan deskripsi jadi HTML aman & rapi\nfunction escapeHTML(s='') {\n  return String(s)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\nfunction linkify(s='') {\n  return s.replace(/\\bhttps?:\\/\\/[^\\s<>\"']+/g, (u) => `<a href=\"${u}\">${u}</a>`);\n}\n\nconst title = $json.title || '';\nconst severity = $json.severity || '';\nconst raw = $json.description || '';\n\n// 1) Normalisasi baris & whitespace\nlet txt = raw.replace(/\\r\\n/g, '\\n').replace(/\\t/g, ' ').trim();\n\n// 2) Escape HTML biar aman\ntxt = escapeHTML(txt);\n\n// 3) Markdown ringan → HTML (bold **...**)\ntxt = txt.replace(/\\*\\*(.+?)\\*\\*/g, '<b>$1</b>');\n\n// 4) Line break → <br/>\ntxt = txt.replace(/\\n/g, '<br/>');\n\n// 5) Link otomatis\ntxt = linkify(txt);\n\n// 6) Kurangi <br/> beruntun\ntxt = txt.replace(/(<br\\/?>\\s*){3,}/g, '<br/><br/>');\n\nconst header =\n  `<p><b>${escapeHTML(title)}</b> — Severity: ${escapeHTML(severity)}</p>`;\n\nconst finalHtml = `${header}<div>${txt}</div>`;\n\nreturn [{\n  json: {\n    ...$json,\n    description_html: finalHtml\n  }\n}];\n"
        },
        "position": [
          320,
          544
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "c2f8e4cb-67f0-434a-afa2-96babbbee60f",
        "name": "Sticky Note1",
        "parameters": {
          "content": "### Deklarasi Variabel",
          "height": 256,
          "width": 192
        },
        "position": [
          272,
          0
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "9700592d-a577-4103-8902-9ebc1e1953ce",
        "name": "Sticky Note2",
        "parameters": {
          "content": "### Ambil List Product dari Product Type di DefectDojo",
          "height": 256,
          "width": 192
        },
        "position": [
          496,
          0
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "e2bb1ef2-f935-474e-a651-885a06b3646e",
        "name": "Sticky Note3",
        "parameters": {
          "content": "### Ambil Product Name dari List Product",
          "height": 256,
          "width": 192
        },
        "position": [
          720,
          0
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "dfa98896-fb62-4741-897a-c59007a49d73",
        "name": "Get Product Name",
        "parameters": {
          "jsCode": "const out = [];\nconst seen = new Set();\n\nfunction pushName(name) {\n  if (typeof name === 'string' && name.trim() && !seen.has(name)) {\n    seen.add(name);\n    out.push({ json: { product_name: name } });\n  }\n}\n\nfor (const item of items) {\n  const payload = item.json;\n\n  // Normalisasi: bisa object {results: [...]} atau array [{results: [...]}]\n  const buckets = Array.isArray(payload) ? payload : [payload];\n\n  for (const b of buckets) {\n    // Ambil list product dari b.results (atau langsung b kalau sudah array of products)\n    const list = Array.isArray(b?.results) ? b.results : (Array.isArray(b) ? b : []);\n\n    for (const prod of list) {\n      pushName(prod?.name);\n    }\n  }\n}\n\n// Jika mau SATU item berisi array nama:\n// return [{ json: { product_names: out.map(i => i.json.product_name) } }];\n\nreturn out.length ? out : [{ json: { product_name: null, note: 'no products found' } }];\n"
        },
        "position": [
          768,
          96
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "666f7e67-18f0-4a47-9ba6-78fa408c2c83",
        "name": "Sticky Note4",
        "parameters": {
          "content": "### Ambil List Finding (Verified) berdasarkan Product Name",
          "height": 256,
          "width": 224
        },
        "position": [
          928,
          0
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "c9a0006e-93ad-4dc2-bae1-cda3667316b6",
        "name": "Sticky Note5",
        "parameters": {
          "content": "### Ekstrak Finding dari Array Product Name menjadi satu per satu",
          "height": 256,
          "width": 192
        },
        "position": [
          1168,
          0
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "da081049-5d54-484b-803a-2e7a0c9ca139",
        "name": "Sticky Note6",
        "parameters": {
          "content": "### Data Finding di Hash untuk Keperluan Checkpoint",
          "height": 256,
          "width": 192
        },
        "position": [
          1392,
          0
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "4321254a-2764-4a2c-a175-ecac8ecc630c",
        "name": "Sticky Note7",
        "parameters": {
          "content": "### Check apakah Ticket sudah pernah dikirim atau belum",
          "height": 256,
          "width": 192
        },
        "position": [
          1600,
          0
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "987ff512-825a-4de9-a5ef-ebb7f5b8994e",
        "name": "Sticky Note8",
        "parameters": {
          "content": "### Combine dengan node Dojo Data Hash\nsupaya tidak perlu tarik data lagi",
          "height": 256,
          "width": 224
        },
        "position": [
          1808,
          -16
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "3cb774f2-c2a0-4fbb-bea9-4c80b0d32764",
        "name": "Merge",
        "parameters": {
          "combineBy": "combineByPosition",
          "mode": "combine",
          "options": {}
        },
        "position": [
          1872,
          80
        ],
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2
      },
      {
        "id": "c3176fe9-5782-4ab5-adf3-977f13a0fd3f",
        "name": "Sticky Note9",
        "parameters": {
          "content": "### IF condition\njika sudah pernah dikirim maka Noop, jika belum lanjut ke tahap selanjutnya",
          "height": 256,
          "width": 224
        },
        "position": [
          2048,
          -16
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "dd563311-e114-4020-9cfc-a6515b9cff3d",
        "name": "Sticky Note11",
        "parameters": {
          "color": 5,
          "content": "#### HTML Converter\nKarena formatnya markdown, jadi harus di convert ke HTML dulu supaya gak kacau di iTop formatnya.",
          "height": 288,
          "width": 224
        },
        "position": [
          256,
          416
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "b506b113-360a-43a7-9569-d41af4a80968",
        "name": "Sticky Note12",
        "parameters": {
          "color": 5,
          "content": "### Membuat tiket di iTop\nData yang belum pernah dikirim dibuat tiket di node ini ",
          "height": 288,
          "width": 208
        },
        "position": [
          496,
          416
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "525bcfb8-7e23-454d-8666-ca9b46b95003",
        "name": "Sticky Note13",
        "parameters": {
          "color": 5,
          "content": "### Ambil Ticket ID\nTicket yang dibuat akan mengembalikan JSON Ticket ID, jadi kita ekstrak tiket id  di node ini",
          "height": 288,
          "width": 192
        },
        "position": [
          720,
          416
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "df4243a6-6d16-41f0-ba0d-90a3e403470a",
        "name": "Sticky Note14",
        "parameters": {
          "color": 5,
          "content": "### Ambil data dari Ticket ID\ndari tiket id yang di ekstrak, kita ambil data iTop untuk kita hash di node selanjutnya",
          "height": 288,
          "width": 224
        },
        "position": [
          928,
          416
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "d6a4d4e5-d830-4777-a5d3-9517aae07a8a",
        "name": "Sticky Note15",
        "parameters": {
          "color": 5,
          "content": "### Ekstrak tiket\nKarena tiket dalam satu Array, kita ekstrak jadi satu per satu, dan ambil data yang diperlukan untuk di hash",
          "height": 288,
          "width": 208
        },
        "position": [
          1168,
          416
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "4b0af008-0b2d-4d84-8be2-ed245d3a66f3",
        "name": "Sticky Note17",
        "parameters": {
          "color": 5,
          "content": "### Checkpoint Ticket\nCheckpoint data keseluruhan supaya tidak terjadi Infinite Loop",
          "height": 288,
          "width": 192
        },
        "position": [
          1600,
          416
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "49ac6b57-2714-4a6c-a3e2-5d2d906860e3",
        "name": "Sticky Note16",
        "parameters": {
          "color": 5,
          "content": "### Hash data\nHash data ticket untuk checkpoint",
          "height": 288,
          "width": 160
        },
        "position": [
          1392,
          416
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      }
    ],
    "pinData": {},
    "settings": {
      "availableInMCP": false,
      "executionOrder": "v1"
    },
    "shared": [
      {
        "createdAt": "2026-02-25T01:25:29.721Z",
        "project": {
          "createdAt": "2026-02-05T03:42:57.879Z",
          "creatorId": "a8a031e5-324d-4510-8061-83d160c23002",
          "description": null,
          "icon": null,
          "id": "0yndx2RxYhns8Dri",
          "name": "Rex Lapis <rizki.rama1314@gmail.com>",
          "type": "personal",
          "updatedAt": "2026-02-05T03:48:24.838Z"
        },
        "projectId": "0yndx2RxYhns8Dri",
        "role": "workflow:owner",
        "updatedAt": "2026-02-25T01:25:29.721Z",
        "workflowId": "_QxJ0DbrFXYg8xAVVFsz3"
      }
    ],
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-02-25T03:55:33.700Z",
    "versionCounter": 5,
    "versionId": "d79a14bc-692d-48f4-9a60-bf7eea0807d5"
  }
]
