workflows/KsslP6C3fLMPZbCr.json
[
  {
    "active": false,
    "activeVersionId": null,
    "connections": {
      "AI Agent: Create caption for linkedin": {
        "main": [
          [
            {
              "index": 0,
              "node": "gotoHuman",
              "type": "main"
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "index": 0,
              "node": "Microsoft Outlook1",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "Loop Over Items",
              "type": "main"
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "index": 0,
              "node": "AI Agent: Create caption for linkedin",
              "type": "main"
            }
          ]
        ]
      },
      "Microsoft Outlook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Loop Over Items",
              "type": "main"
            }
          ]
        ]
      },
      "Microsoft Outlook1": {
        "main": [
          [
            {
              "index": 0,
              "node": "Loop Over Items",
              "type": "main"
            }
          ]
        ]
      },
      "Output Today's Date": {
        "main": [
          [
            {
              "index": 0,
              "node": "Microsoft Outlook",
              "type": "main"
            }
          ]
        ]
      },
      "Parser: Extract JSON from Idea": {
        "ai_outputParser": [
          [
            {
              "index": 0,
              "node": "AI Agent: Create caption for linkedin",
              "type": "ai_outputParser"
            }
          ]
        ]
      },
      "Test": {
        "main": [
          [
            {
              "index": 0,
              "node": "Output Today's Date",
              "type": "main"
            }
          ]
        ]
      },
      "Tool: Inject Creativity": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "AI Agent: Create caption for linkedin",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "gotoHuman": {
        "main": [
          [
            {
              "index": 0,
              "node": "If",
              "type": "main"
            }
          ]
        ]
      },
      "openai": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "AI Agent: Create caption for linkedin",
              "type": "ai_languageModel"
            }
          ]
        ]
      }
    },
    "createdAt": "2026-03-02T03:01:23.677Z",
    "description": null,
    "id": "KsslP6C3fLMPZbCr",
    "isArchived": false,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "name": "Automated email replies with GPT-4o, Outlook, and GoToHuman approval",
    "nodes": [
      {
        "id": "db46a99c-a87d-4203-925f-f94fed274bbe",
        "name": "Sticky Note",
        "parameters": {
          "color": 5,
          "content": "### 4. **Generate AI Response**\n- Text prompt to OpenAI:  \n  ```\n  subject: {{ $json.subject }}  \n  body: {{ $json.body.content }}\n  ```\n\n- System prompt:  \n  > You are a personal assistant helping respond to emails. I am an AI automation expert specializing in helping small and medium-size businesses automate processes. Create a short response to the email. Sign the email as Robert Breen.\n",
          "height": 760,
          "width": 1200
        },
        "position": [
          1376,
          480
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "2b29c366-caf6-41e5-bf09-a6f60ab9d315",
        "name": "Tool: Inject Creativity",
        "parameters": {},
        "position": [
          1856,
          1008
        ],
        "type": "@n8n/n8n-nodes-langchain.toolThink",
        "typeVersion": 1
      },
      {
        "id": "df07d826-251e-4b9f-927f-637280847891",
        "name": "Parser: Extract JSON from Idea",
        "parameters": {
          "jsonSchemaExample": "[\n  {\n    \"body\": \"\"\n  }\n]\n"
        },
        "position": [
          2048,
          960
        ],
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "y4UDELQuKrn8tPOM",
            "name": "OpenAi account"
          }
        },
        "id": "3f7eeefc-a208-4020-8b6a-7dc536126daa",
        "name": "openai",
        "parameters": {
          "model": {
            "__rl": true,
            "cachedResultName": "gpt-4o",
            "mode": "list",
            "value": "gpt-4o"
          },
          "options": {}
        },
        "position": [
          1728,
          992
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2
      },
      {
        "id": "c1d3fd0d-b84e-4346-aa2e-3c3b8cf358e3",
        "name": "Sticky Note1",
        "parameters": {
          "content": "### 1. **Trigger**  \nUse the Manual Trigger to test or schedule execution with a cron node.\n\n### 2. **Filter Emails from Today**\nA Code node outputs today's date in the proper `yyyy-mm-dd` format.\n\n```javascript\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\nreturn [{ json: { searchQuery: `received:${today.toISOString().split('T')[0]}` } }];\n```\n\n### 3. **Search and Filter Outlook Messages**\n- Uses the Outlook node with a search query like:  \n  `received:2025-08-06 -from:rbreen@ynteractive.com` (Update to your email address)",
          "height": 760,
          "width": 980
        },
        "position": [
          368,
          480
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "af0105d8-5b95-4d82-8735-acb6358f607b",
        "name": "Sticky Note3",
        "parameters": {
          "color": 3,
          "content": "### 5. **Review with gotoHuman**\n- Submit AI output for human approval using the `gotoHuman` node.\n- The output schema should match the Review Template fields (e.g., \"email\", \"OriginalEmail\").\n\n### 6. **IF Node Decision**\n- If status is `approved`, send reply\n- If not, return to loop for revision or skip\n\n---",
          "height": 760,
          "width": 760
        },
        "position": [
          2592,
          480
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "id": "be573205-24d6-49e7-924e-d9bfd1879505",
        "name": "Test",
        "parameters": {},
        "position": [
          448,
          912
        ],
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1
      },
      {
        "id": "807aecbb-fdc0-4a6b-9fbb-186aefdad240",
        "name": "Output Today's Date",
        "parameters": {
          "jsCode": "const today = new Date();\ntoday.setHours(0, 0, 0, 0); // Normalize to start of day\n\nconst formattedDate = today.toISOString().split('T')[0]; // \"2025-08-06\"\n\nreturn [\n  {\n    json: {\n      searchQuery: `received:${formattedDate}`\n    }\n  }\n];\n"
        },
        "position": [
          736,
          1040
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "b4d9154b-c7e8-437b-b6d8-ed22327bfccf",
        "name": "AI Agent: Create caption for linkedin",
        "parameters": {
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You are a personal assistant helping respond to emails. I am an ai automation expert specializing in helping small and medium size businesses automate processes. Create a short response to the email that you are analyzing. \n\nThe email that you write should be written to the sender who sent the email to us. \n\nSign the email as Robert Breen\n\noutput the data like this. \n\n[\n  {\n    \"body\": \"\"\n  }\n]\n"
          },
          "promptType": "define",
          "text": "=subject: {{ $json.subject }} Body: {{ $json.body.content }}"
        },
        "position": [
          1808,
          768
        ],
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.9
      },
      {
        "id": "41d1ebef-9808-4d0b-ae30-2e8cd0ae597a",
        "name": "Sticky Note2",
        "parameters": {
          "color": 6,
          "content": "# 🤖AI-Powered Outlook Email Assistant with GoToHuman Approval Workflow\n## 📬 Need Help?\n\nMessage me on [LinkedIn](https://www.linkedin.com/in/robert-breen-29429625/) \nor email me at **robert@ynteractive.com**\n",
          "height": 200,
          "width": 2980
        },
        "position": [
          368,
          240
        ],
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "Q8rcTJ4cjO2QEG8D",
            "name": "Microsoft Outlook account"
          }
        },
        "id": "a27db7b8-96b1-425e-98d9-e1dc5f939478",
        "name": "Microsoft Outlook",
        "parameters": {
          "filtersUI": {
            "values": {
              "filterBy": "search",
              "search": "={{ $json.searchQuery }} -from:rbreen@ynteractive.com\n"
            }
          },
          "limit": 2,
          "operation": "getAll",
          "options": {},
          "output": "raw"
        },
        "position": [
          976,
          912
        ],
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "webhookId": "ae07c8b7-e0be-4a87-93a8-cfcb00303d0c"
      },
      {
        "credentials": {},
        "executeOnce": true,
        "id": "3830b457-613f-4709-b70a-ae5d089d8a83",
        "name": "gotoHuman",
        "parameters": {
          "operation": "sendAndWait",
          "resource": "reviewRequest"
        },
        "position": [
          2720,
          784
        ],
        "type": "@gotohuman/n8n-nodes-preview-gotohuman.gotoHuman",
        "typeVersion": 1,
        "webhookId": "29fff214-9915-47fe-833f-c78d42709c76"
      },
      {
        "id": "6484d15f-94d2-4078-93de-beee1985e085",
        "name": "Loop Over Items",
        "parameters": {
          "options": {}
        },
        "position": [
          1216,
          1040
        ],
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3
      },
      {
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "Q8rcTJ4cjO2QEG8D",
            "name": "Microsoft Outlook account"
          }
        },
        "id": "07ef9661-0df9-41a9-b412-3f2af84bba43",
        "name": "Microsoft Outlook1",
        "parameters": {
          "message": "={{ $json.responseValues.email.value }}",
          "messageId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $('Microsoft Outlook').item.json.id }}"
          },
          "operation": "reply",
          "options": {}
        },
        "position": [
          3168,
          1008
        ],
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "webhookId": "0208ffbc-c796-47a4-8e71-aa175d970c54"
      },
      {
        "id": "5b6f8868-ac73-44f0-9eaa-64250abab4d6",
        "name": "If",
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "8516d970-6327-47de-83ab-1945acd928b2",
                "leftValue": "={{ $json.response }}",
                "operator": {
                  "name": "filter.operator.equals",
                  "operation": "equals",
                  "type": "string"
                },
                "rightValue": "approved"
              }
            ],
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            }
          },
          "options": {}
        },
        "position": [
          2960,
          784
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2
      }
    ],
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "shared": [
      {
        "createdAt": "2026-03-02T03:01:23.698Z",
        "project": {
          "createdAt": "2026-02-05T03:42:57.879Z",
          "creatorId": "a8a031e5-324d-4510-8061-83d160c23002",
          "description": null,
          "icon": null,
          "id": "0yndx2RxYhns8Dri",
          "name": "Rex Lapis <rizki.rama1314@gmail.com>",
          "type": "personal",
          "updatedAt": "2026-02-05T03:48:24.838Z"
        },
        "projectId": "0yndx2RxYhns8Dri",
        "role": "workflow:owner",
        "updatedAt": "2026-03-02T03:01:23.698Z",
        "workflowId": "KsslP6C3fLMPZbCr"
      }
    ],
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-03-02T07:50:18.213Z",
    "versionCounter": 2,
    "versionId": "b0f4568e-1332-4865-871c-3787557b4bb9"
  }
]
